{% from "posts/_macros.html" import post_preview %}
{% from "errors/_macros.html" import error_list %}

{% macro upload_elements_section(elements, element_count, upload) -%}
    <section id="upload-elements">
        <div id="upload-elements-heading" class="large-2 heading">
            <u>Elements</u>
            (&thinsp;{{ element_count }}&thinsp;)
            {{ helpers.upload.post_search_link(upload) }}
        </div>
        <div id="upload-elements-container">
            {% for element in elements %}
                {% set illust_url = element.illust_url %}
                {% set active = 'active' if illust_url.active else 'deprecated' %}
                <div id="upload-element-{{ element.id }}" class="upload-element">
                    <div class="status-heading heading">{{ element.status.name.title() }} <span style="font-variant: small-caps; letter-spacing: 1px;">({{ active }})</span></div>
                    {% if illust_url.post is not none %}
                        <div class="upload-element-preview">{{ post_preview(illust_url.post, True) }}</div>
                    {% else %}
                        <div class="no-post-preview">
                            <div style="margin-top: 1em; color: #888">
                                <strong>(removed)</strong>
                            </div>
                        </div>
                    {% endif %}
                    <div class="upload-element-info">
                        <ul>
                            <li>
                                <strong>{{ illust_url.type.title() }} URL:</strong> {{ helpers.base.url_link(illust_url.full_url, max_len=45) }}
                            </li>
                            {% if illust_url.sample_url is not none %}
                                <li>
                                    <strong>Thumb URL:</strong> {{ helpers.base.url_link(illust_url.sample_url, max_len=45) }}
                                </li>
                            {% endif %}
                            <li>
                                <strong>Dimensions:</strong> {{ illust_url.width }} x {{ illust_url.height }}
                            </li>
                            <li>
                                <strong>MD5:</strong> {{ helpers.base.val_or_na(element.md5, code=True) }}
                            </li>
                        </ul>
                        {{ error_list(element.errors) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{%- endmacro %}
