{% extends "upload_elements/_base.html" %}
{% from "posts/_macros.html" import post_preview %}

{% block title %}
    {{ upload_element.header }}
{% endblock title %}

{% block content %}
    <div id="upload-element-heading" class="heading">{{ upload_element.header }}</div>
    <div id="upload-element-content">
        {% set illust_url = upload_element.illust_url %}
        {{ post_preview(upload_element.post) }}
        <ul>
            <li>
                <strong>{{ upload_element.upload_show_link }}</strong>
            </li>
            <li>
                <strong>URL:</strong> {{ helpers.base.url_link(illust_url.full_url) }}
            </li>
            <li>
                <strong>MD5:</strong> {{ helpers.base.val_or_na(upload_element.md5, code=True) }}
            </li>
            <li>
                <strong>Status:</strong> {{ helpers.upload.element_status(upload_element) }}
            </li>
        </ul>
    </div>
{% endblock content %}
