{% extends 'similarity_pools/_base.html' %}
{% from 'layouts/_macros.html' import page_navigation %}
{% from 'posts/_macros.html' import post_preview %}

{% block title %}Similarity pools{% endblock %}

{% block content %}
    <table id="similarity-pools-table" class="striped" width="100%">
        <thead>
            <tr>
                <th width="10%">Post</th>
                <th>Matches</th>
                <th width="10%">Element count</th>
                <th width="15%">Created</th>
            </tr>
        </thead>
        <tbody>
            {% for pool in similarity_pools.items %}
                <tr id="similarity-pool-{{ pool.id }}">
                    <td class="post-column">
                        {{ post_preview(pool.post) }}
                        <div style="text-align: center; font-weight: bold;">{{ pool.show_link }}</div>
                    </td>
                    <td class="matches-column">
                        {% for element in pool.elements %}
                            {% if loop.index is le 5 %}
                                {{ post_preview(element.post) }}
                            {% else %}
                                <article class="overflow">
                                    <span>{{ pool.elements | length - 5 }} more posts available</span>
                                </article>
                                {% break %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ pool.element_count }}</td>
                    <td>{{ helpers.base.humanized_timestamp_difference(pool) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pages %}{{ page_navigation(similarity_pools) }}{% endblock %}
