{% extends "layouts/base.html" %}
{% from "layouts/_macros.html" import render_form %}
{% from "posts/_macros.html" import post_preview %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/image_hashes.css') }}">
{% endblock css %}

{% block linkscript %}
    <script src="{{ url_for('static', filename='javascript/image_hashes.js') }}"></script>
{% endblock linkscript %}

{% block title %}
    Image Match Results
{% endblock title %}

{% block content %}
    <div id="image-hash-content">
        <div id="image-hash-heading" class="heading">Image match results</div>
        <div id="image-hash-form" class="{{ helpers }}">
            {{ render_form(form, 'GET', url_for('image_hash.check_html'), class=helpers.image_hash.form_class(similar_results)) }}
            {% if similar_results is not none %}
                <div id="display-form">
                    <a href="#" onclick="return ImageHashes.showForm(this)">«Show form»</a>
                </div>
            {% endif %}
        </div>
        {% if similar_results is not none %}
            <div id="image-hash-results-content">
                {% for similar_result in similar_results %}
                    <div class="image-hash-result-container">
                        <div class="image-hash-result-heading heading">Image #{{ loop.index }}</div>
                        <div class="image-hash-proxy-block">
                            <article class="proxy-post">
                                {{ helpers.media_file.file_link(similar_result.media_file) }}
                            </article>
                            <div class="proxy-image-details">
                                <strong>Image url:</strong> {{ similar_result.image_url }}
                            </div>
                        </div>
                        <div class="image-hash-result-block">
                            {% for post_result in similar_result.post_results %}
                                <div class="image-hash-post">
                                    {{ post_preview(post_result.post, True) }}
                                    <div class="image-hash-post-info">
                                        <strong>Score:</strong> {{ post_result.score }}
                                        <br>
                                        <strong>Type/Size:</strong> {{ post_result.post.file_ext.upper() }} @ {{ post_result.post.size }}
                                        <br>
                                        <strong>Dimensions:</strong> ( {{ post_result.post.width }} x {{ post_result.post.height }} )
                                    </div>
                                </div>
                            {% else %}
                                <div class="no-results">No results.</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block pagescript %}
    Prebooru.initializeLazyLoad('.image-hash-post');
{% endblock pagescript %}
