{% macro nav_link_to(text, endpoint) -%}
    {% with html_text, klass = helpers.base.nav_link_to(text, endpoint) %}
        <li id="nav-{{ html_text }}" class="{{ klass }}">{{ helpers.base.general_link(text, url_for(endpoint), id=("nav-%s-link" % html_text)) }}</li>
    {% endwith %}
{%- endmacro %}
{% macro subnav_link_to(text, endpoint, id=None, attrs={}) -%}
    {% with html_text, attrs = helpers.base.subnav_link_to(text, attrs) %}
        <li id="subnav-{{ html_text }}">{{ helpers.base.general_link(text, url_for(endpoint, id=id, **kwargs), **attrs) }}</li>
    {% endwith %}
{%- endmacro %}

{% macro render_form(form, method, url, class=None, manual=False) -%}
    {% set submethod = method.lower() if method not in ['GET', 'POST'] else None %}
    {% set method = method if method.upper() in ['GET', 'POST'] else 'POST' %}
    {% set class_string = 'class="%s"'|format(class) if class is not none else "" %}
    <form id="form" {{ class_string | safe }} method="{{ method }}" action="{{ url }}">
        {% if submethod is not none %}<input type="hidden" name="_method" value="{{ submethod }}">{% endif %}
        {% if not manual %}
            {% for field_name, field_input in helpers.base.form_iterator(form) %}
                {% if caller is undefined %}
                    {{ field_input() }}
                {% else %}
                    {{ caller(field_name, field_input) }}
                {% endif %}
            {% endfor %}
        {% else %}
            {{ caller() }}
        {% endif %}
        <input type="submit" value="Submit">
    </form>
{%- endmacro %}

{% macro simple_list(items, key) -%}
    {% for item in items %}
        {% if caller is undefined %}
            {{ item[key] }}
        {% else %}
            {{ caller(item) }}
        {% endif %}
        {% if not loop.last %}<br>{% endif %}
    {% else %}
        <em>none</em>
    {% endfor %}
{%- endmacro %}

{% macro items_list(items, key) -%}
    {% if items | length == 1 %}
        {% if caller is undefined %}
            {{ items[0][key] }}
        {% else %}
            {{ caller(items[0]) }}
        {% endif %}
    {% else %}
        {% for item in items %}
            {% if loop.first %}<ul>{% endif %}
            {% if caller is undefined %}
                <li>{{ item[key] }}</li>
            {% else %}
                <li>{{ caller(item) }}</li>
            {% endif %}
            {% if loop.last %}</ul>{% endif %}
        {% else %}
            <em>none</em>
        {% endfor %}
    {% endif %}
{%- endmacro %}

{% macro items_block(items, item_plural, separator=helpers.base.HR) -%}
    {% for item in items %}
        {{ caller(item) }}
        {% if not loop.last %}{{ separator | safe }}{% endif %}
    {% else %}
        <span class="explanation">There are no {{ item_plural }}.</span>
    {% endfor %}
{%- endmacro %}

{% macro timestamps_section(item, section_id, other_timestamps=[]) -%}
    <section id="{{ section_id }}">
        <h4>Timestamps</h4>
        <ul>
            {% set all_time_attrs = ['created', 'updated'] + other_timestamps %}
            {% for attr in all_time_attrs %}
                {% if item[attr] is defined %}
                    <li>
                        <strong>{{ attr | title }}:</strong> {{ helpers.base.format_timestamp(item[attr]) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
{%- endmacro %}

{% macro image_select_controls(classname) -%}
    <div id="image-select-controls" class="large-1">
        <strong>Select[&thinsp;<span id="image-select-counter">0</span>&thinsp;]:</strong>
        (
        <a href="#" onclick="return Prebooru.selectAll('{{ classname }}')">All</a> |
        <a href="#" onclick="return Prebooru.selectNone('{{ classname }}')">None</a> |
        <a href="#" onclick="return Prebooru.selectInvert('{{ classname }}')">Invert</a>
        )
        {% if caller is defined %}{{ caller() }}{% endif %}
    </div>
{%- endmacro %}

{% macro page_navigation(pagination) -%}
    {% with previous_page, current_page, next_page, pages = helpers.base.page_navigation(pagination) %}
        <div class="paginator numbered-paginator large-1">
            {% if previous_page is none %}
                <span>&lt;</span>
            {% else %}
                {{ helpers.base.page_link('&lt;', request.endpoint, previous_page) }}
            {% endif %}
            {% for page in pages %}
                {% if page == "..." %}
                    <span>...</span>
                {% elif page == current_page %}
                    <span>{{ current_page }}</span>
                {% else %}
                    {{ helpers.base.page_link(page | string, request.endpoint, page) }}
                {% endif %}
            {% endfor %}
            {% if next_page is none %}
                <span>&gt;</span>
            {% else %}
                {{ helpers.base.page_link('&gt;', request.endpoint, next_page) }}
            {% endif %}
        </div>
    {% endwith %}
{%- endmacro %}

{% macro render_block(tagname) -%}
    {{ helpers.base.add_container(tagname, caller(), **kwargs) }}
{%- endmacro %}
