<menu id="main-menu" class="main">
    {{ helpers.base.NavLinkTo("Posts", 'post.index_html') }}
    {{ helpers.base.NavLinkTo("Uploads", 'upload.index_html') }}
    {{ helpers.base.NavLinkTo("Pools", 'pool.index_html') }}
    {{ helpers.base.NavLinkTo("Boorus", 'booru.index_html') }}
    {{ helpers.base.NavLinkTo("Artists", 'artist.index_html') }}
    {{ helpers.base.NavLinkTo("Illusts", 'illust.index_html') }}
    {{ helpers.base.NavLinkTo("Notations", 'notation.index_html') }}
    {{ helpers.base.NavLinkTo("More »", 'static.site_map_html') }}
</menu>