{% from 'layouts/_macros.html' import nav_link_to %}

<menu id="main-menu" class="main">
    {{ nav_link_to("Posts", 'post.index_html') }}
    {{ nav_link_to("Uploads", 'upload.index_html') }}
    {{ nav_link_to("Pools", 'pool.index_html') }}
    {{ nav_link_to("Boorus", 'booru.index_html') }}
    {{ nav_link_to("Artists", 'artist.index_html') }}
    {{ nav_link_to("Illusts", 'illust.index_html') }}
    {{ nav_link_to("Notations", 'notation.index_html') }}
    {{ nav_link_to("More »", 'static.site_map_html') }}
</menu>