# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

app/local_config.py
old/
db/
temp/
junk/
ffprobe.exe
prebooru-install/
/pythonsave.bat
/projectsave.bat
/databasesave.bat
/datasave.bat
/datasave.log
