# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

notes.txt
app/local_config.py
*.db
ideas.txt
notes.txt
similarity_notes.txt
old/
db/
migrations.old/
junk/
pythonsave.bat
projectsave.bat
ffprobe.exe
prebooru-install/
databasesave.bat
datasave.bat
datasave.log
