# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.env

config/local.py
db/
temp/
junk/
node_modules/
ffprobe.exe
sqlite3.exe
/package.json
/package-lock.json
/databasesave.bat
/datasave.bat
/datasave.log

# For local ignores, add lines to /.git/info/exclude
