<menu id="secondary-menu">
    {{ helpers.base.subnav_link_to("Listing", 'booru.index_html') }}
    {{ helpers.base.subnav_link_to("New", 'booru.new_html') }}
    |
    {{ helpers.base.subnav_link_to("Create", 'booru.query_create_html', attrs={'class': 'nav-control', 'onclick': 'return Booru.createFromId(this)'}) }}
    {% if booru.id != None %}
        {{ helpers.base.subnav_link_to("Show", 'booru.show_html', id=booru.id) }}
        {{ helpers.base.subnav_link_to("Edit", 'booru.edit_html', id=booru.id) }}
    {% endif %}
</menu>