{% from "layouts/_macros.html" import subnav_link_to %}

<menu id="secondary-menu">
    {{ subnav_link_to("Listing", 'booru.index_html') }}
    {{ subnav_link_to("New", 'booru.new_html') }}
    |
    {{ subnav_link_to("Create", 'booru.query_create_html', attrs={'class': 'nav-control', 'onclick': 'return Boorus.createFromId(this)'}) }}
    {% if booru.id != None %}
        {{ subnav_link_to("Show", 'booru.show_html', id=booru.id) }}
        {{ subnav_link_to("Edit", 'booru.edit_html', id=booru.id) }}
        {{ subnav_link_to("Archive", 'booru.archive_booru_html', booru.id, attrs={'class': 'nav-modify', 'onclick': 'return Prebooru.linkPost(this)'}) }}
        <strong>Delete</strong> (
            {{ subnav_link_to("Soft", 'booru.soft_delete_html', id=booru.id, attrs={'class': 'warning-link', 'onclick': 'return Prebooru.deleteConfirm(this)'}) }}
            |
            {{ subnav_link_to("Hard", 'booru.hard_delete_html', id=booru.id, attrs={'class': 'warning-link', 'onclick': 'return Prebooru.deleteConfirm(this)'}) }}
        )
    {% endif %}
</menu>
