{% from "artists/_macros.html" import artists_section %}
{% from "illusts/_macros.html" import illusts_display %}
{% from "layouts/_macros.html" import timestamps_section %}

<div id="booru-sidebar">
    {{ artists_section(booru.artists, 'booru-artists') }}
    {{ illusts_display(helpers.booru.IllustSearch(booru), booru.illust_count, 'booru-illusts') }}
    {{ timestamps_section(booru, 'booru-timestamps') }}
    <section id="booru-options">
        <h4>Options</h4>
        <ul>
            <li><a href="{{ url_for('booru.query_update_html', id=booru.id) }}" onclick="return Prebooru.linkPost(this)">Update from source</a></li>
            <li><a href="{{ url_for('booru.check_artists_html', id=booru.id) }}" onclick="return Prebooru.linkPost(this)">Check for artists</a></li>
        </ul>
    </section>
</div>
