{% from "artists/_macros.html" import artists_section %}
{% from "illusts/_macros.html" import illusts_display %}
{% from "layouts/_macros.html" import timestamps_section %}
{% from "notations/_macros.html" import notations_section %}

<div id="booru-sidebar">
    {{ artists_section(booru.artists, 'booru-artists', booru) }}
    {{ illusts_display(helpers.booru.illust_search(booru), booru.illust_count, 'booru-illusts') }}
    {{ timestamps_section(booru, 'booru-timestamps') }}
    {{ notations_section(booru.notations, 'booru-notations', 'booru_id', booru.id) }}
    <section id="booru-options">
        <h4>Options</h4>
        <ul>
            <li>{{ helpers.booru.query_update_link(booru) }}</li>
        </ul>
    </section>
    <section id="booru-history">
        <h4>History</h4>
        <ul>
            <li>{{ helpers.booru.names_link(booru) }}</li>
        </ul>
    </section>
</div>
