<div id="booru-site-content">
    <div id="booru-site-content-1">
        <section id="booru-site-info">
            <h4>Info</h4>
            <ul>
                <li><span class="heading">{{ helpers.booru.SiteBooruLink(booru) }} {{ helpers.booru.SiteSearchLink(booru) }}</span></li>
                <li><strong>Danbooru ID:</strong> {{ booru.danbooru_id }}</li>
            </ul>
        </section>
        <section id="booru-names">
            <h4>Names</h4>
            <ul>
                {% for booru_name in booru.names %}
                    <li>{{ booru_name.name }}</li>
                {% endfor %}
            </ul>
        </section>
    </div>
</div>
