{% extends "boorus/_base.html" %}
{% from "layouts/_macros.html" import simple_list, page_navigation %}

{% block title %}
    Boorus
{% endblock title %}

{% block content %}
    <table id="boorus-table" class="striped" width="70%">
        <thead>
            <tr>
                <th width="10%">ID</th>
                <th width="20%">Danbooru ID</th>
                <th width="25%">Name</th>
                <th width="10%">Banned</th>
                <th width="10%">Deleted</th>
                <th width="20%">Timestamps</th>
            </tr>
        </thead>
        <tbody>
            {% for booru in page.items %}
                <tr id="booru-{{ booru.id }}">
                    <td class="booru-id">{{ booru.show_link }} {{ helpers.booru.post_search_link(booru) }}</td>
                    <td class="booru-info"><strong>Danbooru ID:</strong> {{ booru.danbooru_id }}</td>
                    <td class="booru-name">{{ helpers.booru.site_booru_link(booru) }} {{ helpers.booru.site_search_link(booru) }}</td>
                    <td class="booru-banned">{{ booru.banned | tojson }}</td>
                    <td class="booru-deleted">{{ booru.deleted | tojson }}</td>
                    <td class="booru-timestamps">
                        <strong>Created:</strong> {{ helpers.base.format_timestamp(booru.created) }}
                        <br>
                        <strong>Updated:</strong> {{ helpers.base.format_timestamp(booru.updated) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block pages %}
    {{ page_navigation(page) }}
{% endblock pages %}
