{% from "posts/_macros.html" import post_preview, multi_post_preview %}
{% from "notations/_macros.html" import notations_list %}

{% macro pool_item_list(items, link_key) -%}
    <ul>
        {% set seenlist = [] %}
        {% for item in items %}
            {% if (item[link_key]) in seenlist %}
                {% continue %}
            {% endif %}
            <li>
                <span class="thin-list">{{ item[link_key] }}</span>
            </li>
            {% do seenlist.append(item[link_key]) %}
        {% endfor %}
    </ul>
{%- endmacro %}

{% macro pool_element_preview(item) -%}
    <div class="pool-block" id="{{ item.model_name }}-{{ item.id }}">
        <div class="pool-block-heading heading">
            <a href="#{{ item.model_name }}-{{ item.id }}" class="bookmark-target">◊</a>&thinsp;
            {{ helpers.pool.media_header(item) }}
            {{ item.show_link }}
        </div>
        <div class="pool-block-content">
            {{ pool_display_block(item) }}
            {% if item.model_name == "post" or item.model_name == "illust" %}{{ pool_info_block(item) }}{% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro pool_element_select_preview(element, item) -%}
    <article id="pool-element-{{ element.id }}" class="pool-element-select">
        <div class="pool-element-display">
            <div class="input">
                <label for="pool-element-{{ element.id }}-checkbox">
                    <input type="checkbox"
                           class="pool-element-select-input"
                           id="pool-element-{{ element.id }}-checkbox"
                           name="pool_element[id][]"
                           value="{{ element.id }}"
                           onchange="return Pools.toggleCheckbox(this)"
                           onclick="return Prebooru.selectClick(this)">
                </label>
            </div>
        </div>
        {{ pool_element_preview(item) }}
    </article>
{%- endmacro %}

{% macro pool_display_block(item) -%}
    <div class="pool-display-block">
        {% if item.model_name == "post" %}
            {{ post_preview(item, True) }}
        {% elif item.model_name == "illust" %}
            {% if item.type == "image" %}
                {{ multi_post_preview(item, "illust", True) }}
            {% elif item.type == "video" %}
                {{ post_preview(item.video_illust_url.post, True) }}
            {% endif %}
        {% elif item.model_name == "notation" %}
            <div class="pool-display-notation">{{ helpers.base.convert_to_html(item.body) }}</div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro pool_info_block(item) -%}
    <div class="pool-info-block">
        <div class="pool-relation-block">
            <div class="pool-artist-block">
                <strong>{{ "Artist" if item.model_name == "illust" else "Artists" }}:</strong>
                <br>
                {% if item.model_name == "post" %}
                    {{ pool_item_list(item.selectin_illusts, "artist_show_link") }}
                {% elif item.model_name == "illust" %}
                    {{ pool_item_list([item], "artist_show_link") }}
                {% endif %}
            </div>
            {% if item.model_name == "post" %}
                <div class="pool-illust-block">
                    <strong>Illusts:</strong>
                    {{ pool_item_list(item.illust_urls, "illust_show_link") }}
                </div>
            {% endif %}
        </div>
        {% if item.notations | length > 0 %}
            <div class="pool-notation-block">
                <strong>Notations:</strong>
                <br>
                {{ notations_list(item.notations) }}
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro pools_section(pool_elements, section_id) -%}
    <section id="{{ section_id }}" class="pool-section">
        {% if pool_elements is not none %}
            {% if pool_elements is not iterable %}
                {% set pool_elements = [pool_elements] %}
                {% set singular = True %}
            {% else %}
                {% set singular = False %}
            {% endif %}
            {% if pool_elements | length > 0 %}
                <h4>{{ "Pool" if singular else "Pools" }}</h4>
                <ul>
                    {% for pool_element in pool_elements %}
                        <li class="{{ "listless-item" if pool_element.pool.series else "" }}">
                            <strong>
                                {{ helpers.pool.prev_navigation(pool_element) }}
                                {{ pool_element.pool.name_link }}
                                {{ helpers.pool.next_navigation(pool_element) }}
                                [{{ helpers.pool.page_navigation(pool_element) }}]
                            </strong>
                            <span class="delete-control small-2">( {{ helpers.pool.remove_pool_link(pool_element) }} )</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </section>
{%- endmacro %}
