{% extends "pools/_base.html" %}
{% from "layouts/_macros.html" import page_navigation %}

{% block title %}
    Pools
{% endblock title %}

{% block content %}
    <table id="pools-table" class="striped" width="100%">
        <thead>
            <tr>
                <th width="10%">ID</th>
                <th>Name</th>
                <th width="10%">Count</th>
                <th width="10%">Checked</th>
                <th width="10%">Created</th>
            </tr>
        </thead>
        <tbody>
            {% for pool in pools.items %}
                <tr id="pool-{{ pool.id }}">
                    <td>{{ pool.show_link }} {{ helpers.pool.last_page_link(pool) }}</td>
                    <td>{{ pool.name }}</td>
                    <td>{{ pool.element_count }}</td>
                    <td>{{ helpers.base.format_time_ago(pool.checked) }}</td>
                    <td>{{ helpers.base.humanized_timestamp_difference(pool) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block pages %}
    {{ page_navigation(pools) }}
{% endblock pages %}
