{% extends 'pools/_base.html' %}
{% from 'layouts/_macros.html' import page_navigation %}
{% from 'pools/_macros.html' import pool_display_block, pool_info_block %}

{% block title %}{{ pool.header }}{% endblock %}

{% block content %}
    <div id="pool-content">
        <div id="pool-heading" class="heading">{{ pool.header }}</div>
        <div id="pool-name"><strong>Name:</strong> {{ pool.name }}</div>
        <div id="pool-items">
            {% for item in elements.items %}
                <div class="pool-block">
                    <div class="pool-block-heading heading">
                        {{ helpers.pool.MediaHeader(item) }}
                        {{ item.show_link }}
                    </div>
                    <div class="pool-block-content">
                        {{ pool_display_block(item) }}
                        {% if helpers.pool.ItemIsOfTypes(item, ['post', 'illust']) %}
                            {{ pool_info_block(item) }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block pages %}{{ page_navigation(elements) }}{% endblock %}
