{% macro errors_section(errors, section_id) -%}
    {% if errors | length > 0 %}
        <section id="{{ section_id }}" class="errors-section">
            <h4>Errors</h4>
            {% for error in errors %}
                <div class="error-block-header">
                    <strong>{{ error.show_link }}</strong>
                    (
                        {{ helpers.base.delete_link('delete', error.delete_url + '?redirect=true') }}
                    )
                </div>
                <div class="error-block-content">
                    <ul>
                        <li class="hanging-indent">
                            <strong>Module:</strong> <code>{{ helpers.base.break_period(error.module) }}</code>
                        </li>
                        <li class="hanging-indent">
                            <strong>Message:</strong> {{ helpers.base.convert_to_html(error.message) }}
                        </li>
                        <li>
                            <strong>Created:</strong> {{ helpers.base.format_timestamp(error.created) }}
                        </li>
                    </ul>
                </div>
                {% if not loop.last %}<hr>{% endif %}
            {% endfor %}
        </section>
    {% endif %}
{%- endmacro %}

{% macro error_list(errors, section_id) -%}
    {% if errors | length > 0 %}
        <div class="errors-list">
            {% for error in errors %}
                <strong>{{ error.show_link }}</strong>
                <ul>
                    <li class="hanging-indent">
                        <strong>Module:</strong> <code>{{ helpers.base.break_period(error.module) }}</code>
                    </li>
                    <li class="hanging-indent">
                        <strong>Message:</strong> {{ helpers.base.convert_to_html(error.message) }}
                    </li>
                </ul>
                {% if not loop.last %}<hr>{% endif %}
            {% endfor %}
        </div>
    {% endif %}
{%- endmacro %}

{% macro errors_block(errors) -%}
    {% for error in errors %}
        <div>
            <strong>{{ error.module }}:</strong>
            <br>
            &emsp;{{ error.message }}
            <br>
            &emsp;@ {{ helpers.base.format_timestamp(error.created) }}
        </div>
    {% else %}
        <em>none</em>
    {% endfor %}
{%- endmacro %}
