{% extends "layouts/base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/static.css') }}">
{% endblock css %}

{% block title %}
    Bookmarklet Info
{% endblock title %}

{% block content %}
    <div id="bookmarklet-info">
        {% set all_bookmarklet = "javascript:window.open('http://127.0.0.1:%d/downloads/all?download[request_url]='+encodeURIComponent(location.href),'_blank');false;" % helpers.base.PREBOORU_PORT %}
        {% set select_bookmarklet = "javascript:window.open('http://127.0.0.1:%d/downloads/select?download[request_url]='+encodeURIComponent(location.href),'_blank');false;" % helpers.base.PREBOORU_PORT %}
        <h4>Links</h4>
        <div id="bookmarklet-links">
            <a href="{{ all_bookmarklet }}">All to Prebooru</a> |
            <a href="{{ select_bookmarklet }}">Select to Danbooru</a>
        </div>
        <p>Bookmark the above links by dragging them to the bookmark toolbar.</p>
        <h4>{{ helpers.base.general_link("All", url_for('download.download_all_html', show_form='true')) }}</h4>
        <p>The all bookmarklet will open a new tab from a site post and download all images available on that site post. The following is the code for this, and can be copied and modified instead.</p>
        <code>{{ all_bookmarklet }}</code>
        <h4>{{ helpers.base.general_link("Select", url_for('download.download_select_html', show_form='true')) }}</h4>
        <p>
            The select bookmarklet will open a new tab from a site post and present all available images from that post, allowing one to select which images from the site post to download. The following is the code for this, and can be copied and modified instead.
        </p>
        <code>{{ select_bookmarklet }}</code>
        <h4>Supported Sites</h4>
        <p>The following are the supported sites, along with examples of the proper request URL format.</p>
        <ul>
            <li>
                <b>Pixiv:</b> https://www.pixiv.net/artworks/1234
            </li>
            <li>
                <b>Twitter:</b> https://twitter.com/nobody/status/1234
            </li>
        </ul>
    </div>
{% endblock content %}
