{% extends "download_elements/_base.html" %}
{% from "layouts/_macros.html" import page_navigation %}
{% from "posts/_macros.html" import post_preview %}
{% from "errors/_macros.html" import errors_block %}

{% block title %}
    Download Elements
{% endblock title %}

{% block content %}
    <table id="download-elements-table" class="striped" width="80%">
        <thead>
            <tr>
                <th width="15%">Post</th>
                <th width="15%">Info</th>
                <th>Errors</th>
                <th width="12%">Status</th>
                <th width="20%">MD5</th>
            </tr>
        </thead>
        <tbody>
            {% for element in page.items %}
                {% set illust_url = element.illust_url %}
                {% set preview_class = 'single-post' if element.post is not none else 'no-post' %}
                <tr id="download-element-{{ element.id }}" class="download-element">
                    <td>
                        <div class="preview-header">
                            <strong>{{ element.show_link }}</strong>
                        </div>
                        <div class="{{ preview_class }}">
                            {% if element.post is not none %}
                                {{ post_preview(element.post, True) }}
                            {% else %}
                                <span class="explanation">There are no posts.</span>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <strong>{{ element.download_show_link }}</strong><br>
                        <strong>Domain:</strong> {{ illust_url.site.domain }}<br>
                    </td>
                    <td>{{ errors_block(element.errors) }}</td>
                    <td>{{ helpers.download.element_status(element) }}</td>
                    <td>{{ helpers.base.val_or_na(element.md5, code=True) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block pages %}
    {{ page_navigation(page) }}
{% endblock pages %}

{% block pagescript %}
    Prebooru.initializeLazyLoad('.post');
{% endblock pagescript %}
