{% from "artists/_macros.html" import artists_section %}
{% from "errors/_macros.html" import errors_section %}
{% from "layouts/_macros.html" import timestamps_section %}

<div id="subscription-pool-sidebar">
    {{ artists_section(subscription_pool.artist, 'subscription-pool-artist') }}
    {{ errors_section(subscription_pool.errors, 'subscription-pool-errors') }}
    {{ timestamps_section(subscription_pool, 'subscription-pool-timestamps') }}
    <section id="subscription-pool-options">
        <h4>Options</h4>
        <ul>
            <li>{{ helpers.subscription_pool.process_subscription_link(subscription_pool) }}</li>
            <li>{{ helpers.subscription_pool.delay_subscription_link(subscription_pool) }}</li>
            <li>{{ helpers.subscription_pool.get_last_job_status_link(subscription_pool) }}</li>
        </ul>
    </section>
</div>
