{% extends 'subscription_pools/_base.html' %}
{% from 'subscription_pool_elements/_macros.html' import elements_display %}
{% from 'illusts/_macros.html' import illusts_display %}
{% from 'posts/_macros.html' import recent_posts %}

{% block title %}{{ subscription_pool.header }}{% endblock %}

{% block content %}
    <div id="subscription-pool-heading" class="heading">{{ subscription_pool.header }}</div>
    <div id="subscription-pool-content">
        {% include "subscription_pools/_sidebar.html" %}
        {% include "subscription_pools/_site_content.html" %}
    </div>
    {{ elements_display(helpers.subscription_pool.element_search(subscription_pool), subscription_pool.element_count, 'subscription-elements') }}
    {{ illusts_display(helpers.subscription_pool.illust_search(subscription_pool), subscription_pool.illust_count, 'subscription-illusts', False) }}
    <div id="subscription-pool-posts">
        {{ recent_posts(subscription_pool.recent_posts, subscription_pool.post_count, helpers.subscription_pool.post_search(subscription_pool)) }}
    </div>
{% endblock %}
