/** APP/STATIC/STYLES/ARTISTS.CSS **/

/**** NEW/EDIT Page ****/

textarea#artist-site-account-string,
textarea#artist-name-string {
    height: 5em;
    width: 20em;
}

textarea#artist-webpage-string {
    height: 10em;
    width: 80em;
}

textarea#artist-profile {
    height: 10em;
    width: 50em;
}

/**** SHOW Page ****/
div#artist-heading {
    font-size: 32px;
}

div#artist-content {
    display: flex;
    margin-top: 2em;
}

div#artist-sidebar {
    background: #f8f8f8;
    border: 2px solid #ddd;
    padding: 0.5em;
    width: 25em;
}

div#artist-sidebar > section {
    margin-bottom: 1em;
}

section#artist-illusts {
    font-size: 1.25em;
    font-weight: bold;
}

div.artist-notations-container {
    max-height: 250px;
    overflow-y: auto;
}

div.artist-notation-block {
    border: 1px solid #eee;
}

div#artist-site-content {
    width: 70%;
}

div#artist-site-content h4 {
    text-decoration: underline;
}

div#artist-site-content-1 {
    display: flex;
}

div#artist-site-content-1 > section {
    margin-left: 1em;
}

section#artist-site-info {
    width: 25%;
}

section#artist-labels {
    width: 25%;
}

section#artist-webpages {
    line-height: 90%;
    margin-left: 1em;
    overflow-wrap: break-word;
    width: 50%;
    word-break: normal;
}

div#artist-webpages-container {
    margin-top: 0.5em;
    max-height: 200px;
    overflow-y: auto;
}

div#artist-site-content-2 {
    margin-top: 2em;
}

section#artist-profiles {
    margin-left: 1em;
    width: 90%;
}

div#artist-profiles-container {
    border: 1px solid #eee;
    max-height: 200px;
    overflow-y: auto;
    padding: 0.5em;
}

div.artist-profiles-block {
    margin: 0.5em;
    padding-right: 5em;
    position: relative;
}

span.artist-profile-delete {
    position: absolute;
    right: 0;
    top: 0;
}

div#artist-posts {
    margin-top: 2em;
}

/**** MACROS ****/
span.artist-webpage {
    font-family: monospace;
}

span.artist-webpage span.active {
    background-color: lightgreen;
}

span.artist-webpage span.inactive {
    background-color: lightsalmon;
}
