/** APP/STATIC/STYLES/BASE.CSS **/

html {
    font-size: 14px;
}

:target {
    background: #f7e7c3 !important;
}

body {
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp,
small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    line-height: 1.25em;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, .heading {
    color: #1e1e2c;
    font-weight: bold;
    line-height: 1.5em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.17em;
}

h6 {
    font-size: 1em;
}

menu > li {
    display: inline;
    padding: 0 0.2em;
}

menu > li > a.nav-control {
    color: darkorange;
}

a:link,
a:visited {
    color: #0075f8;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table.striped {
    margin-top: 2em;
}

table.striped thead tr {
    border-bottom: 2px solid #5b5c79;
}

table.striped th {
    padding: 4px 6px;
}

table.striped thead th {
    font-size: 1.25em;
    text-align: left;
}

table.striped td,
table.striped tbody tr {
    border-bottom: 1px solid #d1d1da;
}

table.striped tr:nth-child(even) {
    background: #f6f6f8;
}

table.striped tbody tr:hover {
    background: #e1e8ff;
}

table.striped td {
    padding: 0.5rem 0;
}

code {
    background-color: lightgrey;
    font-family: monospace;
}

div.json-data {
    background-color: #eee;
    font-family: monospace;
    padding: 5px;
    white-space: pre;
}

div.form-heading {
    font-size: 28px;
    margin-top: 1em;
}

form label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1em;
}

form input,
form textarea,
form select {
    display: block;
}

form input[type="submit"] {
    font-weight: bold;
    height: 30px;
    margin-top: 20px;
    width: 60px;
}

div.inline-input label,
div.inline-input input {
    display: inline-block;
}

ul {
    margin-left: 1.25em;
}

li.listless-item {
    list-style-type: none;
    margin-left: -1.05em;
}

li.hanging-indent {
    padding-left: 1em;
    text-indent: -1em;
}

div.notice-message {
    background: #fdf6e6;
    border: 1px solid #f7e7c3;
}

div.notice-error {
    background: #fbe3e3;
    border: 1px solid #ffc3c3;
}

div.preview-header {
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

div#script-notice {
    box-shadow: 0 10px 15px -3px rgba(0 0 0 / 10%), 0 4px 6px -2px rgba(0 0 0 / 5%);
    display: none;
    left: 25%;
    position: fixed;
    top: 2em;
    width: 50%;
    z-index: 10000;
}

div#script-notice.notice-message,
div#script-notice.notice-error {
    display: block;
}

div#script-notice > div {
    padding: 0.5em;
}

a#script-close-notice-link {
    bottom: 0;
    position: absolute;
    right: 1em;
}

span.item-heading {
    font-size: 1.18em;
    font-weight: bold;
}

span.muted-timestamp {
    color: #888;
}

span.explanation {
    color: grey;
    font-style: italic;
}

span.narrow {
    font-family: "Arial Narrow", sans-serif;
}

span.description {
    color: #888;
    font-style: italic;
}

a.bookmark-target {
    color: orange;
}

a.warning-link {
    color: red;
}

article.post {
    display: inline-block;
    height: 304px;
    margin: 0 10px 10px 0;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 304px;
}

article.post > img {
    max-height: 300px;
    max-width: 300px;
}

div.video-info {
    background-color: black;
    border-radius: 5px;
    left: 6px;
    opacity: 0.8;
    padding: 0 2px;
    position: absolute;
    top: 4px;
}

span.duration {
    color: white;
    display: inline-block;
    font-weight: bold;
}

img.sound-icon {
    display: inline-block;
    filter: invert(100%);
    height: 12px;
    padding-left: 2px;
    vertical-align: middle;
}

section.errors-section {
    overflow-x: hidden;
}

div#recent-posts-heading {
    margin-bottom: 1em;
}

div#recent-posts-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}

div.recent-post-block {
    width: 340px;
}

span.delete-control > a {
    color: red;
}

div.notation-block {
    border: 1px solid #eee;
    padding: 5px;
}

span.notation-list-item {
    overflow-wrap: break-word;
    word-break: normal;
}

div#image-select-controls {
    margin-top: 1em;
}

span#image-select-counter {
    display: inline-block;
    text-align: center;
    width: 2em;
}

li.booru-banned,
li.booru-deleted,
li.artist-deleted {
    border: 2px solid;
    padding: 5px;
}

li.booru-banned {
    border-color: red;
}

li.booru-deleted,
li.artist-deleted {
    border-color: black;
}

div.paginator {
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: center;
}

div.paginator > span,
div.paginator > a {
    padding: 0.5em;
}

footer {
    border-top: 2px dotted #ddd;
    margin: 1.5em;
    padding: 0.5em;
    text-align: center;
}

header#top #app-name-header {
    font-size: 2em;
    margin: 0 30px;
}

header#top menu li {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

header#top menu {
    background: #f4f6ff;
    margin-top: -2px;
    padding: 6px 20px;
}

header#top menu.main {
    background: none;
    margin-bottom: 0;
}

header#top menu li a {
    padding: 6px 10px;
}

header#top menu.main li.current a {
    background: #f4f6ff;
    font-weight: bold;
}

section#content {
    margin-left: 2.5em;
}

div#notice {
    box-shadow: 0 10px 15px -3px rgba(0 0 0 / 10%), 0 4px 6px -2px rgba(0 0 0 / 5%);
    left: 25%;
    position: fixed;
    top: 1em;
    width: 50%;
    z-index: 9999;
}

div#notice > div {
    padding: 0.5em;
}
