/** APP/STATIC/STYLES/BOORUS.CSS **/

/**** NEW/EDIT Page ****/
div.booru-form-heading {
    font-size: 28px;
    margin-top: 1em;
}

textarea#booru-name-string {
    height: 5em;
    width: 20em;
}

/**** SHOW Page ****/
div#booru-heading {
    font-size: 32px;
}

div#booru-content {
    display: flex;
    margin-top: 2em;
}

div#booru-sidebar {
    background: #f8f8f8;
    border: 2px solid #ddd;
    padding: 0.5em;
    width: 25em;
}

div#booru-sidebar > section {
    margin-bottom: 1em;
}

section#booru-illusts {
    font-size: 1.25em;
    font-weight: bold;
}

div.booru-notations-container {
    max-height: 250px;
    overflow-y: auto;
}

div#booru-site-content {
    width: 70%;
}

div#booru-site-content h4 {
    text-decoration: underline;
}

div#booru-site-content-1 {
    display: flex;
}

div#booru-site-content-1 > section {
    margin-left: 1em;
}

div#booru-site-content-1 span.heading {
    font-size: 1.33em;
}

section#booru-site-info {
    width: 25%;
}

section#booru-names {
    width: 25%;
}

div#booru-posts {
    margin-top: 2em;
}
