/** APP/STATIC/STYLES/ILLUST_URLS.CSS **/

/**** GENERAL ****/

div.illust-urls-preview {
    background-color: #e8e8e8;
    border: 1px solid #d8d8d8;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

div.illust-urls {
    display: flex;
    flex-wrap: wrap;
}

div.illust-preview-url {
    padding: 2px;
}

div.illust-urls img {
    height: auto;
    text-indent: 5px;
    width: auto;
}

div.illust-single-url img {
    max-height: 300px;
    max-width: 300px;
}

div.illust-multi-urls img {
    max-height: 150px;
    max-width: 150px;
}

/**** NEW/EDIT ****/

div#illust-url-form-heading {
    font-size: 28px;
    margin-top: 1em;
}

div#illust-url-form-info {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1em;
}

input#illust-url-url {
    width: 50em;
}

/**** SHOW ****/

div#illust-url-heading {
    font-size: 28px;
    margin-top: 1em;
}

div#illust-url-content {
    display: flex;
    font-size: 16px;
    margin-top: 1em;
}

/**** INDEX ****/

table#illust-urls-table article.post {
    height: 204px;
    width: 204px;
}

table#illust-urls-table article.post.no-post {
    height: 75px;
}

table#illust-urls-table article.post img {
    height: auto;
    max-height: 200px;
    max-width: 200px;
    width: auto;
}
