/****NEW/EDIT Page****/
div#illust-url-form-heading {
    font-size: 28px;
    margin-top: 1em;
}
div#illust-url-form-info {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1em;
}
input#illust-url-url {
    width: 50em;
}
/****SHOW Page****/
div#illust-url-heading {
    font-size: 28px;
    margin-top: 1em;
}
div#illust-url-content {
    display: flex;
    font-size: 16px;
    margin-top: 1em;
}
/****INDEX Page****/
table#illust-urls-table article.post {
    width: 204px;
    height: 204px;
}
table#illust-urls-table article.post img {
    max-height: 200px;
    max-width: 200px;
}