/** APP/STATIC/STYLES/ILLUST_URLS.CSS **/

/**** GENERAL ****/

div.illust-urls-preview {
    background-color: #f0f0f0;
    border: 1px solid #d8d8d8;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

div.illust-urls {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    text-align: left;
}

div.illust-urls > article {
    padding: 2px;
    height: 150px;
    width: 150px;
}

div.illust-urls > article.overflow {
    background-color: grey;
    padding: 5px;
    margin: 2px;
}

div.illust-urls > article.overflow > span {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

div.illust-urls img {
    height: auto;
    text-indent: 5px;
    width: auto;
    border: 2px solid white;
}

div.illust-single-url img {
    max-height: 300px;
    max-width: 300px;
}

div.illust-multi-urls img {
    max-height: 150px;
    max-width: 150px;
}

/**** NEW/EDIT ****/

div#illust-url-form-heading {
    font-size: 28px;
    margin-top: 1em;
}

div#illust-url-form-info {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1em;
}

input#illust-url-url {
    width: 50em;
}

/**** SHOW ****/

div#illust-url-heading {
    font-size: 28px;
    margin-top: 1em;
}

div#illust-url-content {
    display: flex;
    font-size: 16px;
    margin-top: 1em;
}

/**** INDEX ****/

table#illust-urls-table article.post,
table#illust-urls-table article.illust-preview-url {
    height: 204px;
    width: 204px;
}

table#illust-urls-table article.post.no-post {
    height: 75px;
}

table#illust-urls-table article.post img,
table#illust-urls-table article.illust-preview-url img {
    height: auto;
    max-height: 200px;
    max-width: 200px;
    width: auto;
}
