/** APP/STATIC/STYLES/ILLUSTS.CSS **/

/*** FORMS ****/

div#illust-form-heading {
    font-size: 28px;
    margin-top: 1em;
}

div#illust-form-info {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1em;
}

textarea#illust-tag-string {
    height: 5em;
    width: 20em;
}

input#illust-title {
    width: 50em;
}

textarea#illust-commentary {
    height: 10em;
    width: 50em;
}

form > div.twitter-data,
form > div.pixiv-data {
    display: none;
}

form.twitter-data > div.twitter-data {
    display: block;
}

form.pixiv-data > div.pixiv-data {
    display: block;
}

/**** SHOW ****/

div#illust-heading {
    font-size: 32px;
    margin-top: 1em;
}

div#illust-content {
    display: flex;
    margin-top: 2em;
}

div#illust-sidebar {
    background: #f8f8f8;
    border: 2px solid #ddd;
    padding: 0.5em;
    width: 25em;
}

div#illust-sidebar > section {
    margin-bottom: 1em;
}

li.illust-update-artist {
    font-weight: bold;
}

li.illust-update-artist a {
    color: green;
}

section#illust-posts {
    font-size: 1.25em;
    font-weight: bold;
}

div#illust-notations-container {
    max-height: 250px;
    overflow-y: auto;
}

div#illust-site-content {
    width: 70%;
}

div#illust-site-content h4,
div#illust-posts h4 {
    text-decoration: underline;
}

div#illust-site-content-1 {
    display: flex;
}

div#illust-site-content-1 > section {
    margin-left: 1em;
}

section#illust-site-info {
    width: 25%;
}

section#illust-values {
    width: 25%;
}

section#illust-tags {
    width: 40%;
}

div#illust-site-content-2 {
    margin-top: 2em;
}

section#illust-main-commentary,
section#illust-additional-commentaries {
    max-height: 20em;
    width: 90%;
    overflow-y: auto;
    margin-left: 1em;
    margin-bottom: 1em;
}

div#illust-main-commentary-block {
    border: 1px solid #ddd;
    padding: 0.5em;
}

div#illust-title-block {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
    margin: 0.1em;
}

div#illust-commentary-container,
div#illust-commentaries-container {
    border: 1px solid #eee;
    max-height: 200px;
    overflow-y: auto;
    padding: 0.5em;
}

div.illust-commentaries-block {
    margin: 0.5em;
    padding-right: 5em;
    position: relative;
}

span.illust-commentary-delete {
    position: absolute;
    right: 0;
    top: 0;
}

div#illust-posts {
    margin-top: 2em;
}

div#media-posts-container {
    display: flex;
    flex-wrap: wrap;
}

div#media-posts-navigation {
    font-size: 20px;
    margin-bottom: 0.5em;
}

div#media-posts-navigation a.type-active {
    font-weight: bold;
}

div.media-post {
    margin-top: 1em;
    width: 31.25em;
}

div.media-post-info {
    height: 7.5em;
}

div.media-post-info li {
    white-space: nowrap;
}

div.no-post-preview {
    background-color: #eee;
    border: 1px solid #ccc;
    height: 330px;
    margin-top: 1em;
    text-align: center;
    width: 310px;
}

div.no-post-preview img {
    height: auto;
    max-width: 300px;
    max-height: 300px;
    padding: 4px;
    width: auto;
}

/**** INDEX ****/

div.simple-tags-container {
    max-width: 25vw;
}

div.illust-preview img {
    height: auto;
    max-height: 150px;
    max-width: 150px;
    width: auto;
}

td article.post {
    height: 260px;
    width: 260px;
}

td article.post img.preview {
    height: auto;
    max-height: 250px;
    max-width: 250px;
    width: auto;
}

td article.post.no-post {
    height: 1em;
}

div.illust-preview {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
}

div.illust-preview > article {
    height: 150px;
    padding: 2px;
    width: 150px;
}

div.illust-preview > article.overflow {
    background-color: grey;
    padding: 5px;
}

div.illust-preview > article.overflow > span {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

div.illust-preview > span.explanation {
    width: 150px;
}

div#illust-page-controls {
    height: 2em;
    position: relative;
    width: 100%;
    border-bottom: 2px solid #ddd;
}

div#illust-page-controls > div {
    position: absolute;
}

div#illust-controls {
    bottom: 0;
    right: 1em;
    padding: 5px;
}

div.illust-display div.input label {
    display: block;
    text-align: start;
    border: 1px solid;
    border-radius: 25px;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 5px;
    background: #f0f0d0;
    border-color: #dd8;
}

div.illust-display div.input.checkbox-active label {
    background: linear-gradient(270deg, green, transparent);
}

/**** OLD COMMENTARIES/TITLES ****/

div.content {
    display: flex;
}

div.current-section {
    width: 45%;
    margin-left: 1em;
}

div.old-section {
    width: 50%;
    margin-left: 1em;
}

div.current-block {
    margin: 0.5em;
}

div.old-block {
    margin: 0.2em;
    padding: 0.2em 5em 0.2em 0.2em;
    border: 1px solid #ddd;
    min-height: 2.5em;
    position: relative;
}

span.old-delete {
    position: absolute;
    right: 0.1em;
    top: 0.1em;
}

span.old-swap {
    position: absolute;
    right: 0.1em;
    top: 1.5em;
}
