/** APP/STATIC/STYLES/IMAGE_HASHES.CSS **/

/**** CHECK ****/

div#image-hash-heading {
    font-size: 32px;
}

form#form.hidden {
    display: none;
}

textarea#image-hash-urls-string {
    height: 4em;
    width: 50em;
}

input#image-hash-score {
    width: 5em;
}

div#display-form {
    font-size: 20px;
    font-weight: bold;
    padding: 1em 0 0 1em;
}

div#image-hash-results-content {
    margin-left: 1em;
    margin-top: 1em;
}

div.image-hash-result-container {
    margin-top: 1em;
}

div.image-hash-result-heading {
    font-size: 28px;
}

div.image-hash-proxy-block {
    margin-left: 1em;
    margin-top: 1em;
}

article.proxy-post {
    border: 1px solid lightgrey;
    max-width: 304px;
    padding: 5px;
}

article.proxy-post > img {
    max-height: 300px;
    max-width: 300px;
    height: auto;
    width: auto;
}

div.proxy-image-details {
    font-size: 20px;
    margin-top: 1em;
}

div.image-hash-result-block {
    background-color: #eee;
    border: 2px solid #ddd;
    margin-top: 1em;
    padding: 1em;
    width: 95%;
}

div.image-hash-post {
    border: 1px solid grey;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

div.image-hash-post-info {
    font-size: 18px;
    margin-top: 1em;
}

div.no-results {
    font-size: 20px;
    font-weight: bold;
    height: 50px;
}
