/** APP/STATIC/STYLES/MEDIA_FILE.CSS **/

/**** INDEX ****/

section.a-index article.media-file img {
    max-height: 300px;
    max-width: 300px;
    height: auto;
    width: auto;
}

/**** SHOW ****/

div#media-file-heading {
    font-size: 28px;
    margin-top: 1em;
}

div#media-file-content {
    font-size: 16px;
    margin-top: 1em;
}
