/** APP/STATIC/STYLES/NOTATIONS.CSS **/

/**** NEW/EDIT ****/

div#notation-form-heading {
    font-size: 28px;
    margin-top: 1em;
}

div#notation-form-info {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1em;
}

textarea#notation-body {
    height: 10em;
    width: 50em;
}

/**** SHOW ****/

div#notation-heading {
    font-size: 32px;
}

div#notation-content {
    display: flex;
    margin-top: 2em;
}

div#notation-content > section {
    margin-bottom: 2em;
}

aside#notation-sidebar {
    background: #f8f8f8;
    border: 2px solid #ddd;
    padding: 0.5em;
    width: 25em;
}

aside#notation-sidebar > section {
    margin-bottom: 1em;
}

div#notation-site-content {
    margin-left: 1em;
    width: 70%;
}

div#notation-site-content h4 {
    text-decoration: underline;
}

section#notation-body {
    width: 75%;
}
