/** APP/STATIC/STYLES/SIMILARITY_POOLS.CSS **/

/**** INDEX Page ****/
td.post-column article.post {
    height: 204px;
    width: 204px;
}

td.post-column article.post img {
    height: auto;
    max-height: 200px;
    max-width: 200px;
    width: auto;
}

td.matches-column article.post {
    height: 154px;
    width: 154px;
}

td.matches-column article.post img {
    height: auto;
    max-height: 150px;
    max-width: 150px;
    width: auto;
}

article.overflow {
    background-color: grey;
    display: inline-block;
    height: 140px;
    padding: 5px;
    width: 140px;
}

article.overflow > span {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/**** SHOW Page ****/
div#similarity-pool-heading {
    font-size: 32px;
}

div#similarity-pool-content {
    margin-top: 1em;
}

form#form label {
    background: #e0f0f0;
    border: 1px solid #8dd;
    border-radius: 25px;
    padding: 0.5em;
}

form#form div.checkbox-active label {
    background: linear-gradient(270deg, dodgerblue, transparent);
}

div#similar-posts-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin-top: 1em;
}

article.similar-post-block {
    border: 1px solid #eee;
    margin: 0.5em;
    padding: 5px;
    width: 320px;
}

article.similar-post-block div.input label {
    margin-top: 0;
    padding: 0.5em;
}

article.similar-post-block article.post {
    text-align: left;
}

div.similar-post-controls {
    display: flex;
    margin-bottom: 0.5em;
}

div.similar-post-controls > div {
    flex-basis: 50%;
}
