/****CHECK Page****/
div#similarity-heading {
    font-size: 32px;
}
form#form.hidden {
    display: none;
}
textarea#similarity-urls {
    width: 50em;
    height: 4em;
}
input#similarity-score {
    width: 5em;
}
div#display-form {
    padding: 1em 0 0 1em;
    font-size: 20px;
    font-weight: bold;
}
div#similarity-results-content {
    margin-top: 1em;
    margin-left: 1em;
}
div.similarity-result-container {
    margin-top: 1em;
}
div.similarity-result-heading {
    font-size: 28px;
}
div.similarity-proxy-block {
    margin-top: 1em;
    margin-left: 1em;
}
article.proxy-post {
    max-width: 304px;
    border: 1px solid lightgrey;
    padding: 5px;
}
article.proxy-post > img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}
div.proxy-image-details {
    font-size: 20px;
    margin-top: 1em;
}
div.similarity-result-block {
    margin-top: 1em;
    border: 2px solid #ddd;
    background-color: #eee;
    width: 95%;
    padding: 1em;
}
div.similarity-post {
    display: inline-block;
    border: 1px solid grey;
    padding: 5px;
    margin: 5px;
}
div.similarity-post-info {
    margin-top: 1em;
    font-size: 18px;
}
div.no-results {
    font-size: 20px;
    font-weight: bold;
    height: 50px;
}