/** APP/STATIC/STYLES/SIMILARITY_MATCHES.CSS **/

/**** INDEX page ****/
div#similarity-page-controls {
    height: 4em;
    position: relative;
    width: 95%;
}

div#similarity-match-controls {
    bottom: 1em;
    position: absolute;
    right: 2em;
}

form#form label {
    background: #e0f0f0;
    border: 1px solid #8dd;
    border-radius: 25px;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0.5em;
    width: 72%;
}

form#form div.checkbox-active label {
    background: linear-gradient(270deg, dodgerblue, transparent);
}

article.similarity-match-multi-preview {
    border: 1px solid #ccc;
    border-radius: 50px;
    display: inline-block;
    margin: 0 1em 1em 0;
    width: 900px;
}

div.similarity-match-preview-controls {
    display: flex;
    margin: 1em;
}

div.similarity-match-preview-delete {
    font-size: 24px;
    padding-right: 1em;
    text-align: right;
    width: 28%;
}

div.similarity-match-preview-display {
    border-top: 1px solid #aaa;
}

div.similarity-match-post {
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}

div.similarity-match-post:first-of-type {
    border-right: 1px solid #aaa;
}

div.similarity-match-info-block {
    display: inline-block;
    font-size: 20px;
    padding-top: 1em;
    vertical-align: top;
}

span.similarity-match-info-score {
    font-size: 150%;
}
