/** APP/STATIC/STYLES/TAGS.CSS **/

/**** SHOW Page ****/
div#tag-heading {
    font-size: 2em;
    margin-bottom: 1em;
}

div#tag-content {
    border-bottom: 1px dashed;
    font-size: 1.4em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

div#tag-content li {
    padding-bottom: 0.25em;
}

div#tag-illusts {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1em;
}

div#tag-illusts > span {
    text-decoration: underline;
}
