/** APP/STATIC/STYLES/TASKS.CSS **/

/**** General ****/
div#tasks-page {
    font-size: 1.25em;
    margin-top: 1em;
}

table tr span.heading {
    font-size: 1.2em;
}

table tr {
    height: 2em;
}
