{% from "posts/_macros.html" import post_preview %}

{% macro illust_urls_preview(illust_urls) -%}
    <div class="illust-urls-preview">
        {% if illust_urls | length > 0 %}
            <span class="explanation">No posts.</span>
            <br>
            <br>
            <div class="illust-urls {{ 'illust-multi-urls' if illust_urls | length > 1 else 'illust-single-url' }}">
                {% for illust_url in illust_urls %}<div class="illust-preview-url">{{ helpers.illust_url.preview_link(illust_url, True) }}</div>{% endfor %}
            </div>
        {% else %}
            <span class="explanation">No URLs.</span>
        {% endif %}
    </div>
{%- endmacro %}

{% macro media_urls_section(illust_urls, illust) -%}
    <section id="media-posts">
        <h3>Media URLs</h3>
        <div id="media-posts-container">
            {% for illust_url in illust_urls %}
                <div class="media-post">
                    <div class="media-post-info">
                        <ul>
                            <li>
                                <strong>Edit( {{ helpers.base.general_link(illust_url.type, illust_url.edit_url) }} )</strong>
                            </li>
                            <li>
                                <strong>Order: {{ illust_url.order }}</strong>
                            </li>
                            <li>
                                <strong>{{ illust_url.type.title() }} URL:</strong> {{ helpers.base.url_link(illust_url.full_url, max_len=45) }}
                            </li>
                            {% if illust_url.sample_url is not none %}
                                <li>
                                    <strong>Thumb URL:</strong> {{ helpers.base.url_link(illust_url.sample_url, max_len=45) }}
                                </li>
                            {% endif %}
                            <li>
                                <strong>Dimensions:</strong> {{ illust_url.width }} x {{ illust_url.height }}
                            </li>
                            <li>
                                <strong>Active:</strong> {{ illust_url.active | tojson }}
                            </li>
                            {% if illust_url.post is none %}
                                <li>
                                    <strong>Upload( {{ helpers.illust_url.upload_media_link(illust_url.type, illust_url) }} )</strong>
                                </li>
                                <li>
                                    <strong>Download( {{ illust_url.type }} )</strong>
                                </li>
                            {% else %}
                                <li>
                                    <strong>Reupload( {{ illust_url.type }} )</strong>
                                </li>
                            {% endif %}
                            {% if illust_url.post is not none and illust_url.active and illust.active %}
                                <li>
                                    <strong>Redownload( {{ helpers.illust_url.redownload_post_link(illust_url.type, illust_url) }} )</strong>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if illust_url.post is not none %}
                        <div class="media-post-preview">{{ post_preview(illust_url.post, True) }}</div>
                    {% elif illust_url.active and illust.active %}
                        <div class="no-post-preview">
                            {{ helpers.illust_url.preview_link(illust_url) }}
                            <div>
                                <strong>(no post)</strong>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
{%- endmacro %}
