{% extends 'illust_urls/_base.html' %}
{% from 'layouts/_macros.html' import render_form %}

{% block title %}{{ illust_url.header }}{% endblock %}

{% block content %}
    <div id="illust-url-form-heading" class="heading">
        Edit {{ illust_url.header }}
    </div>
    <div id="illust-url-form-info">
        For {{ illust_url.illust.show_link }}:
    </div>
    {% call(field_name, field_input) render_form(form, 'PUT', illust_url.update_url) %}
        {{ field_input() }}
    {% endcall%}
{% endblock %}
