{% extends 'illust_urls/_base.html' %}
{% from 'layouts/_macros.html' import page_navigation %}
{% from 'posts/_macros.html'  import post_preview %}

{% block title %}Illust URLs{% endblock %}

{% block content %}
    <table id="illust-urls-table" class="striped" width="80%">
        <thead>
            <tr>
                <th width="1%">Post</th>
                <th width="15%">Info</th>
                <th>Url</th>
                <th width="10%">Dimensions</th>
                <th width="5%">Order</th>
                <th width="5%">Active</th>
            </tr>
        </thead>
        <tbody>
            {% for illust_url in illust_urls.items %}
                <tr id="illust-url-{{ illust_url.id }}">
                    <td>{{ post_preview(illust_url.post) }}</td>
                    <td>
                        <span><strong>{{ illust_url.show_link}}</strong></span><br>
                        <span><strong>Domain:</strong> {{ illust_url.site_domain }}</span><br><br>
                        <span><strong>{{ illust_url.illust_show_link }}</strong></span><br><br>
                    </td>
                    <td>{{ helpers.base.url_link(illust_url.full_url) }}</td>
                    <td>({{ illust_url.width }} x {{ illust_url.height }})</td>
                    <td>{{ illust_url.order }}</td>
                    <td>{{ illust_url.active | tojson }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pages %}{{ page_navigation(illust_urls) }}{% endblock %}
