{% extends 'archives/_base.html' %}

{% block title %}{{ archive.header }}{% endblock %}

{% block content %}
    <div id="archive-heading" class="heading">{{ archive.header }}</div>
    <div id="archive-content">
        {% if archive.type == 'post' %}
            <section id="media-container" onclick="ResizeImage(this)" class="image fullsize">
                {% if archive.data['body']['file_ext'] in ['jpg', 'png', 'gif'] %}
                    {{ helpers.archive.post_file_link(archive) }}
                {% elif archive.data['body']['file_ext'] in ['mp4'] %}
                    {{ helpers.archive.post_video_link(archive) }}
                {% endif %}
            </section>
        {% endif %}
        <ul>
            <li><strong>Type:</strong> {{ archive.type | title }}</li>
            <li><strong>Key:</strong> {{ archive.key }}</li>
            <li><strong>Expires:</strong> {{ helpers.base.format_timestamp(archive.expires) }}</li>
            <li><strong>Data:</strong><br><div class="json-data">{{ archive.data | tojson(indent=4) }}</div></li>
        </ul>
    </div>
{% endblock %}

{% block pagescript %}
<script>
function ResizeImage(obj) {
    obj.classList.toggle('fullsize');
}
</script>
{% endblock %}