{% from "subscription_pools/_macros.html" import subscription_section %}
{% from "artists/_macros.html" import artists_section %}
{% from "layouts/_macros.html" import timestamps_section %}
{% from "errors/_macros.html" import errors_section %}

<aside id="subscription-pool-element-sidebar">
    {{ artists_section(subscription_pool_element.pool.artist, 'artist-info') }}
    {{ subscription_section(subscription_pool_element.pool, 'subscribe-pool-info') }}
    {{ timestamps_section(subscription_pool_element, 'element-timestamps', ['expires']) }}
    {{ errors_section(subscription_pool_element.errors, 'error-list') }}
    {% if not subscription_pool_element.deleted %}
        <section id="subscription-pool-element-options">
            <h4>Options</h4>
            <ul>
                <li><strong>Set keep status:
                    {{ helpers.subscription_pool.keep_element_link(subscription_pool_element, 'yes', 'html') }} |
                    {{ helpers.subscription_pool.keep_element_link(subscription_pool_element, 'maybe', 'html') }} |
                    {{ helpers.subscription_pool.keep_element_link(subscription_pool_element, 'no', 'html') }}
                </strong></li>
            </ul>
        </section>
    {% endif %}
</aside>
