{% extends 'subscription_pool_elements/_base.html' %}
{% from 'layouts/_macros.html' import image_select_controls, page_navigation %}
{% from 'subscription_pool_elements/_macros.html' import subscription_element_preview %}

{% block title %}Subscription Pool Elements{% endblock %}

{% block content %}
    <div id="subscription-page-controls">
        <div id="subscription-type-selector">
            {{ helpers.subscription_pool.element_type_link('all') }}
            {{ helpers.subscription_pool.element_type_link('yes') }}
            {{ helpers.subscription_pool.element_type_link('no') }}
            {{ helpers.subscription_pool.element_type_link('maybe') }}
            {{ helpers.subscription_pool.element_type_link('archive') }}
            {{ helpers.subscription_pool.element_type_link('undecided') }}
        </div>
        <div id="subscription-pool-controls">
            {% call image_select_controls('similar-post-input') %}
                &emsp;&emsp;&emsp;
                <strong>
                    [
                        <a class="archive-link" href="javascript:SubmitForm('archive')">ARCHIVE</a>
                    ]
                </strong>
                &emsp;
                <strong>
                    KEEP[
                        <a class="yes-link" href="javascript:SubmitForm('yes')">YES</a>
                        |
                        <a class="maybe-link" href="javascript:SubmitForm('maybe')">MAYBE</a>
                        |
                        <a class="no-link" href="javascript:SubmitForm('no')">NO</a>
                    ]
                </strong>
            {% endcall %}
        </div>
    </div>
    <form id="form" method="POST" action="{{ url_for('subscription_pool_element.batch_keep_html') }}">
        <input type="hidden" id="subscription-pool-element-keep" name="subscription_pool_element[keep]" value="">
        <div id="subscription-pool-elements-container">
            {% for element in subscription_pool_elements.items %}
                {{ subscription_element_preview(element, True) }}
            {% endfor %}
        </div>
    </form>
{% endblock %}

{% block pages %}{{ page_navigation(subscription_pool_elements) }}{% endblock %}

{% block pagescript %}
<script>
function SubmitForm(value) {
    document.getElementById('subscription-pool-element-keep').value = value;
    document.getElementById('form').submit();
}
(function(){
    document.addEventListener('prebooru:update-inputs', SubscriptionPools.updateAllInputs);
    setTimeout(()=>{
        document.querySelectorAll('.subscription-element input[type=checkbox]').forEach((input)=>{
            if (input.checked) {
                for (var curr = input; curr !== null && (curr.tagName !== 'DIV' || !curr.classList.contains('input')); curr = curr.parentElement);
                if (curr !== null) {
                    curr.classList.add('checkbox-active');
                }
            }
        });
    }, 500);
})();
Prebooru.initializeLazyLoad('.subscription-element');
Prebooru.initializeVideoPreviews('.video-post');
</script>
{% endblock %}
