{% extends 'subscription_pool_elements/_base.html' %}

{% block title %}{{ subscription_pool_element.header }}{% endblock %}

{% block content %}
    <div id="sidebar-container">
        {% include "subscription_pool_elements/_sidebar.html" %}
        <div id="post-content">
            {% if subscription_pool_element.post is not none %}
                <section id="image-container" onclick="ResizeImage(this)" class="fullsize">
                    <picture>
                        <img src="{{ subscription_pool_element.post.sample_url }}">
                    </picture>
                </section>
            {% endif %}
            {% include "subscription_pool_elements/_site_content.html" %}
        </div>
    </div>
{% endblock %}

{% block pagescript %}
    <script>
        function ResizeImage(obj) {
            obj.classList.toggle('fullsize');
        }
    </script>
{% endblock %}
