{% from "layouts/_macros.html" import render_form, image_select_controls %}

{{ image_select_controls('select-image-input') }}
{% call render_form(form, 'POST', download.create_url, manual=True) %}
    <div id="download-select-controls">
        <div id="force-input" class="input checkbox-input inline-input">
            <label for="select-force">Force</label>
            <input type="checkbox" id="select-force" name="force" value="true">
        </div>
        <div id="download-all-button">
            <button onclick="return Downloads.downloadAll(this)" data-url="{{ form.request_url.data }}">Download All</button>
        </div>
    </div>
    <div id="select-images">
        {% for url_data in illust_urls %}
            <div class="select-image-block">
                <div class="input">
                    <label for="select-post-{{ loop.index }}">
                        <input type="checkbox"
                               class="select-image-input"
                               id="select-post-{{ loop.index }}"
                               name="download[image_urls][]"
                               value="{{ url_data['full_url'] }}"
                               onclick="return Prebooru.selectClick(this)">
                    </label>
                </div>
                <article class="post select-post">
                    {% if url_data['media_file'] is not none %}
                        <a href="{{ url_data['full_url'] }}" target="_blank">{{ helpers.media_file.file_link(url_data['media_file']) }}</a>
                    {% else %}
                        <div class="missing-image">Missing image.</div>
                        <div class="full-url">{{ url_data['full_url'] }}</div>
                    {% endif %}
                </article>
            </div>
        {% endfor %}
    </div>
    {{ form.request_url(type='hidden') }}
    <input type="hidden" name="image_urls_only" value="true">
{% endcall %}
