{% from "layouts/_macros.html" import subnav_link_to %}

<menu id="secondary-menu">
    {% if helpers.base.is_index() %}
        {% if edit_posts %}
            {{ subnav_link_to("Listing", 'post.index_html', with_params=True, edit_posts='false', attrs={'class': 'nav-modify'}) }}
        {% else %}
            {{ subnav_link_to("Modify", 'post.index_html', with_params=True, edit_posts='true', attrs={'class': 'nav-modify'}) }}
        {% endif %}
    {% else %}
        {{ subnav_link_to("Listing", 'post.index_html') }}
    {% endif %}
    {{ subnav_link_to("Tags", 'tag.index_html') }}
    | {{ subnav_link_to("Download", 'download.create_html', attrs={'class': 'nav-control', 'onclick': 'return Posts.createDownload(this)'}) }}
    {% if post.id is not none %}
        {{ subnav_link_to("Show", 'post.show_html', post.id) }}
        {{ subnav_link_to("Archive", 'post.archive_post_html', post.id, attrs={'class': 'nav-modify', 'onclick': 'return Prebooru.linkPost(this)'}) }}
        <strong>Delete</strong> (
            {{ subnav_link_to("Soft", 'post.soft_delete_html', id=post.id, attrs={'class': 'warning-link', 'onclick': 'return Prebooru.deleteConfirm(this)'}) }}
            |
            {{ subnav_link_to("Hard", 'post.hard_delete_html', id=post.id, attrs={'class': 'warning-link', 'onclick': 'return Prebooru.deleteConfirm(this)'}) }}
        )
    {% endif %}
</menu>
