{% from "boorus/_macros.html" import boorus_section %}
{% from "artists/_macros.html" import artists_section %}
{% from "illusts/_macros.html" import illusts_section %}
{% from "pools/_macros.html" import pools_section %}
{% from "subscription_elements/_macros.html" import subscription_element_section %}
{% from "tags/_macros.html" import tags_section %}
{% from "notations/_macros.html" import notations_section %}
{% from "errors/_macros.html" import errors_section %}

<aside id="post-sidebar">
    {{ boorus_section(post.selectin_boorus, 'booru-info') }}
    {{ artists_section(post.selectin_artists, 'artist-info') }}
    {{ illusts_section(post.selectin_illusts, 'illust-info') }}
    {{ subscription_element_section(post.active_subscription_element, 'subscription-info') }}
    {{ pools_section(post.pool_elements, 'pool-list', post) }}
    {{ tags_section(post.tags, 'tag-list', post) }}
    {{ notations_section(post.notations, 'notation-list', 'post_id', post.id) }}
    {{ errors_section(post.errors, 'error-list') }}
    <section id="post-image-search">
        <h4>Image search</h4>
        <ul>
            <li>
                <strong>Danbooru:</strong> {{ helpers.post.danbooru_search_links(post) }}
            </li>
            <li>
                <strong>Sauce:</strong> {{ helpers.post.saucenao_search_links(post) }}
            </li>
            <li>
                <strong>Ascii2D:</strong> {{ helpers.post.ascii2d_search_links(post) }}
            </li>
            <li>
                <strong>IQDB.org:</strong> {{ helpers.post.iqdborg_search_links(post) }}
            </li>
        </ul>
    </section>
    <section id="post-image-search">
        <h4>Upload</h4>
        <ul>
            <li>
                <strong>Danbooru:</strong> {{ helpers.post.danbooru_post_bookmarklet_links(post) }}
            </li>
        </ul>
    </section>
    <section id="post-options">
        <h4>Options</h4>
        <ul>
            {% if post.is_ugoira %}
                <li>{{ helpers.post.redownload_frames_link(post) }}</li>
            {% else %}
                <li>{{ helpers.post.redownload_post_link(post) }}</li>
            {% endif %}
            <li>{{ helpers.post.regenerate_previews_link(post) }}</li>
            <li>{{ helpers.post.regenerate_image_matches_link(post) }}</li>
        </ul>
    </section>
</aside>
