{% from "boorus/_macros.html" import boorus_section %}
{% from "artists/_macros.html" import artists_section %}
{% from "illusts/_macros.html" import illusts_section %}
{% from "pools/_macros.html" import pools_section %}
{% from "subscription_pool_elements/_macros.html" import subscription_element_section %}
{% from "tags/_macros.html" import tags_section %}
{% from "notations/_macros.html" import notations_section %}
{% from "errors/_macros.html" import errors_section %}

<aside id="post-sidebar">
    {{ boorus_section(post.boorus, 'booru-info') }}
    {{ artists_section(post.artists, 'artist-info') }}
    {{ illusts_section(post.illusts, 'illust-info') }}
    {{ pools_section(post._pools, 'pool-list') }}
    {{ subscription_element_section(post.subscription_pool_element, 'subscription-info') }}
    {{ tags_section(post._tags, 'tag-list', 'post', post.id) }}
    {{ notations_section(post.notations, 'notation-list') }}
    {{ errors_section(post.errors, 'error-list') }}
    <section id="post-image-search">
        <h4>Image search</h4>
        <ul>
            <li>
                <strong>Danbooru:</strong> {{ helpers.post.danbooru_search_links(post) }}
            </li>
            <li>
                <strong>Sauce:</strong> {{ helpers.post.saucenao_search_links(post) }}
            </li>
            <li>
                <strong>Ascii2D:</strong> {{ helpers.post.ascii2d_search_links(post) }}
            </li>
            <li>
                <strong>IQDB.org:</strong> {{ helpers.post.iqdborg_search_links(post) }}
            </li>
        </ul>
    </section>
    <section id="post-image-search">
        <h4>Upload</h4>
        <ul>
            <li>
                <strong>Danbooru:</strong> {{ helpers.post.danbooru_post_bookmarklet_links(post) }}
            </li>
        </ul>
    </section>
    <section id="post-options">
        <h4>Options</h4>
        <ul>
            <li>{{ helpers.base.general_link("Original file", post.file_url) }}</li>
            <li>{{ helpers.base.file_link(post.file_path, "Copy file link") }}</li>
            <li>{{ helpers.post.add_to_pool_link(post) }}</li>
            <li>{{ helpers.post.add_tag_link(post) }}</li>
            <li>{{ helpers.post.add_notation_link(post) }}</li>
            <li>{{ helpers.post.regenerate_previews_link(post) }}</li>
            <li>{{ helpers.post.regenerate_similarity_link(post) }}</li>
        </ul>
    </section>
</aside>
