<div id="similar-posts">
    <div id="similar-posts-heading" class="heading">
        Similar posts
        (&thinsp;{{ helpers.post.SimilarityPostPoolLink(post) }}&thinsp;)
    </div>
    <div id="similar-posts-container">
        {% for similarity_element in post.similar_posts %}
            <div class="similar-post-block">
                <div class="similar-heading">
                    <strong>{{ helpers.post.SimilaritySiblingPoolLink(similarity_element) }}</strong>
                    &ensp;(&thinsp;{{ helpers.post.DeleteSimilarityElementLink(similarity_element) }}&thinsp;)
                </div>
                <article class="post similar-post">
                    <a href="{{ similarity_element.post.show_url }}">
                        <img src="{{ similarity_element.post.preview_url }}">
                    </a>
                </article>
                <div>
                    <strong>Score:</strong> {{ similarity_element.score }}<br>
                    <strong>Type/Size:</strong> {{ similarity_element.post.file_ext.upper() }} @ {{ similarity_element.post.size }}<br>
                    <strong>Dimensions:</strong> ( {{ similarity_element.post.width }} x {{ similarity_element.post.height }} )
                </div>
            </div>
        {% else %}
            <span class="explanation">There are no similar posts.</span>
        {% endfor %}
    </div>
</div>
