<div id="similar-posts">
    <div id="similar-posts-heading" class="heading">
        Similar posts
        (&thinsp;{{ helpers.post.SimilarityPostPoolLink(post) }}&thinsp;)
    </div>
    <div id="similar-posts-container">
        {% for post_data in post.similar_posts %}
            <div class="similar-post-block">
                <div class="similar-heading">
                    <strong>{{ helpers.post.SimilaritySiblingPoolLink(post_data) }}</strong>
                    &ensp;(&thinsp;{{ helpers.post.DeleteSimilarityElementLink(post_data.element) }}&thinsp;)
                </div>
                <article class="post similar-post">
                    <a href="{{ post_data.post.show_url }}">
                        <img src="{{ post_data.post.preview_url }}">
                    </a>
                </article>
                <div>
                    <strong>Score:</strong> {{ post_data.element.score }}<br>
                    <strong>Type/Size:</strong> {{ post_data.post.file_ext.upper() }} @ {{ post_data.post.size }}<br>
                    <strong>Dimensions:</strong> ( {{ post_data.post.width }} x {{ post_data.post.height }} )
                </div>
            </div>
        {% else %}
            <span class="explanation">There are no similar posts.</span>
        {% endfor %}
    </div>
</div>
