{% from "layouts/_macros.html" import items_list, items_block %}

<div id="post-site-content">
    {% set info_class = 'danbooru-uploaded' if post.danbooru_id is not none else "" %}
    {% set type_class = post.type.name + '-post' %}
    <section id="post-info" class="{{ info_class }} {{ type_class }}">
        <h4>Info</h4>
        <ul>
            <li>
                <strong>Danbooru:</strong> {{ helpers.post.danbooru_post_link(post) }}
            </li>
            <li>
                <strong>Created:</strong> {{ helpers.base.format_timestamp(post.created) }}
            </li>
            <li>
                <strong>Type/Size:</strong> {{ post.size }} bytes @ {{ post.file_ext.upper() }}
            </li>
            <li>
                <strong>Dimensions:</strong> ({{ post.width }} x {{ post.height }})
            </li>
            <li>
                <strong>MD5:</strong> {{ post.md5 }}
            </li>
            <li>
                <strong>Sources:</strong>
                {% call(illust_url) items_list(post.illust_urls) %}
                    {{ helpers.base.url_link(illust_url.full_url, breakslash=True) }}
                {% endcall %}
            </li>
        </ul>
    </section>
    <section id="post-commentaries">
        <h4>
            <u>Commentary</u>
        </h4>
        {% for illust in post.illusts %}
            <div class="post-commentaries-container">
                <strong>{{ illust.header }}:</strong>
                {% if illust.title is not none %}
                    <div class="post-title-block">{{ illust.title_body }}</div>
                {% endif %}
                {% if illust.commentary is not none %}
                    <div class="post-commentaries-block">{{ helpers.base.convert_to_html(illust.commentary_body) }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </section>
</div>
