{% macro artists_section(artists, section_id, booru=None) -%}
    {% if artists is not none %}
        {% if artists is not iterable %}
            {% set artists = [artists] %}
            {% set singular = True %}
        {% else %}
            {% set singular = False %}
        {% endif %}
        {% if artists | length > 0 %}
            <section id="{{ section_id }}">
                <h4>{{ "Artist" if singular else "Artists" }}</h4>
                <ul>
                    {% for artist in artists %}
                        {% if artist.active %}
                            {% set li_class = 'artist-active' %}
                        {% else %}
                            {% set li_class = 'artist-deleted' %}
                        {% endif %}
                        <li class="{{ li_class }}">
                            <span class="item-heading">
                                {{ artist.show_link }} {{ helpers.artist.post_search_link(artist) }}
                                {% if not artist.primary %}
                                    <span class="nonprimary-artist">(nonprimary)</span>
                                {% endif %}
                            </span>
                            <ul>
                                <li>
                                    <strong>{{ helpers.artist.site_artist_link(artist) }}</strong>
                                </li>
                                <li>
                                    <strong>Site ID:</strong> {{ artist.site_artist_id }}
                                </li>
                                <li>
                                    <strong>Account:</strong> {{ helpers.base.val_or_none(artist.current_site_account) }}
                                </li>
                                <li>
                                    <strong>Links:</strong> {{ helpers.artist.artist_links(artist) }}
                                </li>
                                {% if booru is not none %}
                                    <li>
                                        <strong>( {{ helpers.booru.remove_artist_link(booru, artist) }} )</strong>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    {% endif %}
{%- endmacro %}

{% macro artist_webpage(webpage) -%}
    <span class="artist-webpage">
        [<span class="{{ 'active' if webpage.active else 'inactive' }}">{{ '&nbsp;Active&nbsp;' | safe if webpage.active else 'Inactive' }}</span>]
    </span>
    {{ helpers.base.url_link(webpage.url) }}
{%- endmacro %}
