{% from "layouts/_macros.html" import subnav_link_to %}

<menu id="secondary-menu">
    {{ subnav_link_to("Listing", 'artist.index_html') }}
    {{ subnav_link_to("New", 'artist.new_html') }}
    {{ subnav_link_to("URLs", 'artist_url.index_html') }}
    |
    {{ subnav_link_to("Create", 'artist.query_create_html', attrs={'class': 'nav-control', 'onclick': 'return Artists.createArtistFromUrl(this)'}) }}
    {% if artist.id is not none %}
        {{ subnav_link_to("Show", 'artist.show_html', id=artist.id) }}
        {{ subnav_link_to("Edit", 'artist.edit_html', id=artist.id) }}
        {{ subnav_link_to("Archive", 'artist.archive_artist_html', artist.id, attrs={'class': 'nav-modify', 'onclick': 'return Prebooru.linkPost(this)'}) }}
        <strong>Delete</strong> (
            {{ subnav_link_to("Soft", 'artist.soft_delete_html', id=artist.id, attrs={'class': 'warning-link', 'onclick': 'return Prebooru.deleteConfirm(this)'}) }}
            |
            {{ subnav_link_to("Hard", 'artist.hard_delete_html', id=artist.id, attrs={'class': 'warning-link', 'onclick': 'return Prebooru.deleteConfirm(this)'}) }}
        )
    {% endif %}
</menu>
