{% from "boorus/_macros.html" import boorus_section %}
{% from "illusts/_macros.html" import illusts_display %}
{% from "layouts/_macros.html" import timestamps_section %}
{% from "notations/_macros.html" import notations_section %}

<div id="artist-sidebar">
    {{ boorus_section(artist.boorus, 'artist-boorus') }}
    {{ illusts_display(helpers.artist.illust_search(artist), artist.illust_count, 'artist-illusts') }}
    {{ timestamps_section(artist, 'artist-timestamps') }}
    {{ notations_section(artist.notations, 'artist-notations') }}
    <section id="artist-options">
        <h4>Options</h4>
        <ul>
            <li>{{ helpers.artist.query_update_link(artist) }}</li>
            <li>{{ helpers.artist.query_booru_link(artist) }}</li>
            <li>{{ helpers.artist.add_illust_link(artist) }}</li>
            <li>{{ helpers.artist.add_notation_link(artist) }}</li>
        </ul>
    </section>
</div>
