{% from "layouts/_macros.html" import items_list, items_block %}
{% from "artists/_macros.html" import artist_webpage %}

<div id="artist-site-content">
    <div id="artist-site-content-1">
        <section id="artist-site-info">
            <h4>Site</h4>
            <ul>
                {% if artist.site_name != 'custom' %}
                    <li>
                        <strong>{{ helpers.artist.site_artist_link(artist) }}</strong>
                    </li>
                    <li>
                        <strong>Domain:</strong> {{ helpers.base.val_or_none(artist.site_domain) }}
                    </li>
                    <li>
                        <strong>Site ID:</strong> {{ artist.site_artist_id }}
                    </li>
                    <li>
                        <strong>Links:</strong> {{ helpers.artist.artist_links(artist) | safe }}
                    </li>
                {% else %}
                    <li>
                        <strong>Domain:</strong> {{ artist.site_name }}
                    </li>
                    <li>
                        <strong>{{ helpers.base.url_link(artist.site_url, max_len=40) }}</strong>
                    </li>
                {% endif %}
            </ul>
        </section>
        <section id="artist-values">
            <h4>Values</h4>
            <ul>
                <li>
                    <strong>Account:</strong> {{ artist.site_account_value }}
                </li>
                <li>
                    <strong>Name:</strong> {{ helpers.base.val_or_none(artist.name_value) }}
                </li>
                <li>
                    <strong>Created:</strong> {{ helpers.base.format_timestamp(artist.site_created) }}
                </li>
                <li>
                    <strong>Active:</strong> {{ artist.active | tojson }}
                </li>
                <li>
                    <strong>Primary:</strong> {{ artist.primary | tojson }}
                </li>
            </ul>
        </section>
        <section id="artist-webpages">
            <h4>Webpages</h4>
            <div id="artist-webpages-container">
                {% call(webpage) items_list(artist.webpages, 'webpages') %}
                    {{ artist_webpage(webpage) }}
                {% endcall %}
            </div>
        </section>
    </div>
    <div id="artist-site-content-2">
        <section id="artist-profiles">
            <h4>Profile</h4>
            <div id="artist-profiles-container">
                {% if artist.profile is not none %}
                    <div class="artist-profiles-block">
                        {{ helpers.base.convert_to_html(artist.profile_body) }}
                    </div>
                {% else %}
                    <span class="explanation">There is no profile.</span>
                {% endif %}
            </div>
        </section>
    </div>
</div>
