{% extends "artists/_base.html" %}
{% from "layouts/_macros.html" import simple_list, page_navigation %}
{% from "artists/_macros.html" import artist_webpage %}

{% block title %}
    Artists
{% endblock title %}

{% block content %}
    <table id="artists-table" class="striped" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Site</th>
                <th>Names</th>
                <th>Accounts</th>
                <th>Webpages</th>
                <th>Timestamps</th>
            </tr>
        </thead>
        <tbody>
            {% for artist in artists.items %}
                <tr id="artist-{{ artist.id }}">
                    <td>{{ artist.show_link }} {{ helpers.artist.post_search_link(artist) }}</td>
                    <td>
                        <span><strong>Domain:</strong> {{ artist.site_domain }}</span>
                        <br>
                        <span><strong>Artist ID:</strong> {{ artist.site_artist_id }}</span>
                    </td>
                    <td>{{ simple_list(artist._names, 'name') }}</td>
                    <td>{{ simple_list(artist._site_accounts, 'name') }}</td>
                    <td>
                        {% call(webpage) simple_list(artist.webpages, 'url') %}
                            {{ artist_webpage(webpage) }}
                        {% endcall %}
                    </td>
                    <td>
                        <strong>Requery:</strong> {{ helpers.base.format_timestamp(artist.requery) }}
                        <br>
                        <strong>Created:</strong> {{ helpers.base.format_timestamp(artist.created) }}
                        <br>
                        <strong>Updated:</strong> {{ helpers.base.format_timestamp(artist.updated) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block pages %}
    {{ page_navigation(artists) }}
{% endblock pages %}
