{% extends 'artists/_base.html' %}
{% from "posts/_macros.html" import recent_posts %}

{% block title %}{{ artist.shortlink.title() }}{% endblock %}

{% block content %}
    <div id="artist-heading" class="heading">{{ artist.shortlink.title() }}</div>
    <div id="artist-content">
        {% include "artists/_sidebar.html" %}
        {% include "artists/_site_content.html" %}
    </div>
    <div id="artist-posts">
        {{ recent_posts(artist.recent_posts, post_count=artist.post_count, post_search=helpers.artist.PostSearch(artist)) }}
    </div>
{% endblock %}
