{% extends "api_data/_base.html" %}
{% from "layouts/_macros.html" import page_navigation %}

{% block title %}
    API Data
{% endblock title %}

{% block content %}
    <table id="api-data-table" class="striped" width="100%">
        <thead>
            <tr>
                <th width="10%">ID</th>
                <th width="15%">Info</th>
                <th width="65%">Data</th>
                <th width="10%">Expires</th>
            </tr>
        </thead>
        <tbody>
            {% for api_data in page.items %}
                <tr id="api-data-{{ api_data.id }}">
                    <td>{{ api_data.show_link }}</td>
                    <td>
                        <strong>Type:</strong> {{ api_data.type.name | title }}
                        <br>
                        <strong>Site:</strong> {{ api_data.site.name | title }}
                        <br>
                        <strong>Data ID:</strong> {{ api_data.data_id }}
                    </td>
                    <td>
                        <div class="json-data">{{ helpers.base.format_json(api_data.data) }}</div>
                    </td>
                    <td>{{ helpers.base.format_timestamp(api_data.expires) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block pages %}
    {{ page_navigation(page) }}
{% endblock pages %}
