{% extends "api_data/_base.html" %}

{% block title %}
    {{ api_data.header }}
{% endblock title %}

{% block content %}
    <div id="api-data-heading" class="heading">{{ api_data.header }}</div>
    <div id="api-data-content">
        <ul>
            <li>
                <strong>Type:</strong> {{ api_data.type_name | title }}
            </li>
            <li>
                <strong>Site:</strong> {{ api_data.site_name | title }}
            </li>
            <li>
                <strong>Data ID:</strong> {{ api_data.data_id }}
            </li>
            <li>
                <strong>Expires:</strong> {{ helpers.base.format_timestamp(api_data.expires) }}
            </li>
            <li>
                <strong>Data:</strong>
                <br>
                <div class="json-data">{{ api_data.data | tojson(indent=4) }}</div>
            </li>
        </ul>
    </div>
{% endblock content %}
