{% macro task_row(job_id, tasks) -%}
    <td></td>
    <td>{{ helpers.base.display_case(job_id) }}</td>
    <td>{{ helpers.task.format_next_run_time(job_id, tasks.timevals) }}</td>
    <td>{{ tasks.enabled[job_id] | tojson }}</td>
    <td>{{ tasks.locks[job_id] | tojson }}</td>
    <td>
        {% if tasks.enabled[job_id] %}
            {{ helpers.base.general_link("auto",  url_for('task.run_html', name=job_id, manual='false'), method='POST') }}
        {% else %}
            auto
        {% endif %}
        |
        {{ helpers.base.general_link("manual",  url_for('task.run_html', name=job_id, manual='true'), method='POST') }}
        |
        {% if tasks.enabled[job_id] %}
            {{ helpers.base.general_link("disable",  url_for('task.update_html', name=job_id, enable='false'), method='PUT') }}
        {% else %}
            {{ helpers.base.general_link("enable",  url_for('task.update_html', name=job_id, enable='true'), method='PUT') }}
        {% endif %}
    </td>
{%- endmacro %}
