{% extends 'layouts/base.html' %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='styles/tasks.css') }}">{% endblock %}

{% block title %}Tasks{% endblock %}

{% block content %}
    <div id="tasks-page">
        <section id="static-danbooru-tasks">
            <h4>Danbooru Tasks</h4>
            <ul>
                <li>{{ helpers.base.general_link("Check All Boorus",  url_for('task.run_task_html', name='check_all_boorus'), method='POST') }}</li>
                <li>{{ helpers.base.general_link("Check All Artists For Boorus",  url_for('task.run_task_html', name='check_all_artists_for_boorus'), method='POST') }}</li>
                <li>{{ helpers.base.general_link("Check All Posts For Danbooru ID",  url_for('task.run_task_html', name='check_all_posts_for_danbooru_id'),  method='POST') }}</li>
            </ul>
        </section>
        <section id="static-subscription-tasks">
            <h4>Subscription Tasks</h4>
            <ul>
                <li>{{ helpers.base.general_link("Check Pending Subscriptions",  url_for('task.run_task_html', name='check_pending_subscriptions'),  method='POST') }}</li>
                <li>{{ helpers.base.general_link("Check Pending Downloads",  url_for('task.run_task_html', name='check_pending_downloads'),  method='POST') }}</li>
                <li>{{ helpers.base.general_link("Process Expired Subscription Elements",  url_for('task.run_task_html', name='process_expired_subscription_elements'),  method='POST') }}</li>
            </ul>
        </section>
        <section id="static-maintenance-tasks">
            <h4>Maintenance Tasks</h4>
            <ul>
                <li>{{ helpers.base.general_link("Expunge Cache Records",  url_for('task.run_task_html', name='expunge_cache_records'),  method='POST') }}</li>
                <li>{{ helpers.base.general_link("Expunge Archive Records",  url_for('task.run_task_html', name='expunge_archive_records'),  method='POST') }}</li>
                <li>{{ helpers.base.general_link("Delete Orphan Images",  url_for('task.run_task_html', name='delete_orphan_images'),  method='POST') }}</li>
                <li>{{ helpers.base.general_link("Vacuum Analyze Database",  url_for('task.run_task_html', name='vacuum_analyze_database'),  method='POST') }}</li>
            </ul>
        </section>
    </div>
{% endblock %}