{% from "layouts/_macros.html" import render_block %}
{% from "tags/_macros.html" import tag_list %}

{% macro illusts_display(illust_search_url, illust_count, section_id, section=True) -%}
    {% call render_block('section' if section else 'div', id=section_id) %}
        <span class="heading">Illusts</span> (&thinsp;{{ illust_count }}&thinsp;) {{ helpers.base.general_link('»', illust_search_url) }}
    {% endcall %}
{%- endmacro %}

{% macro illusts_section(illusts, section_id) -%}
    {% if illusts is not none %}
        {% if illusts is not iterable %}
            {% set illusts = [illusts] %}
            {% set singular = True %}
        {% else %}
            {% set singular = False %}
        {% endif %}
        {% if illusts | length > 0 %}
            <section id="{{ section_id }}">
                <h4>{{ "Illust" if singular else "Illusts" }}</h4>
                <ul>
                    {% for illust in illusts %}
                        <li>
                            <span class="item-heading">{{ illust.show_link }}</span>
                            <ul>
                                <li>
                                    <strong>{{ helpers.illust.site_illust_link(illust) }} {{ helpers.illust.alt_site_illust_link(illust) }}</strong>
                                </li>
                                <li>
                                    <strong>Site ID:</strong> {{ illust.site_illust_id }}
                                </li>
                                <li>
                                    <strong>Domain:</strong> {{ illust.site_domain }}
                                </li>
                                <li>
                                    <strong>Tags:</strong> {{ tag_list(illust.tags, item_type='illust', item_id=illust.id) }}
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    {% endif %}
{%- endmacro %}
