{% from "boorus/_macros.html" import boorus_section %}
{% from "artists/_macros.html" import artists_section %}
{% from "posts/_macros.html" import posts_display %}
{% from "pools/_macros.html" import pools_section %}
{% from "layouts/_macros.html" import timestamps_section %}
{% from "notations/_macros.html" import notations_section %}

<div id="illust-sidebar">
    {{ boorus_section(illust.boorus, 'illust-boorus') }}
    {{ artists_section(illust.artist, 'illust-artists') }}
    {{ posts_display(helpers.illust.post_search(illust), illust.post_count, 'illust-posts') }}
    {{ pools_section(illust.pool_elements, 'illust-pools') }}
    {{ timestamps_section(illust, 'illust-timestamps') }}
    {{ notations_section(illust.notations, 'illust-notations') }}
    <section id="illust-upload">
        <h4>Upload</h4>
        <ul>
            <li>{{ helpers.illust.danbooru_upload_link(illust) }}</li>
        </ul>
    </section>
    <section id="illust-options">
        <h4>Options</h4>
        <ul>
            <li>{{ helpers.illust.update_from_source_link(illust) }}</li>
            <li>{{ helpers.illust.update_artist_link(illust) }}</li>
            <li>{{ helpers.illust.add_media_url_link(illust) }}</li>
            <li>{{ helpers.illust.add_pool_link(illust) }}</li>
            <li>{{ helpers.illust.add_notation_link(illust) }}</li>
            <li>{{ helpers.illust.add_commentary_link(illust) }}</li>
        </ul>
    </section>
    <section id="illust-history">
        <h4>History</h4>
        <ul>
            <li>{{ helpers.illust.titles_link(illust) }}</li>
            <li>{{ helpers.illust.commentaries_link(illust) }}</li>
        </ul>
    </section>
</div>
