{% extends "illusts/_base.html" %}
{% from "layouts/_macros.html" import page_navigation %}
{% from "posts/_macros.html" import multi_post_preview, post_preview %}
{% from "illust_urls/_macros.html" import illust_urls_preview %}
{% from "tags/_macros.html" import simple_tag_list %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/illust_urls.css') }}">
{% endblock css %}

{% block title %}
    Illusts
{% endblock title %}

{% block content %}
    <table id="illusts-table" class="striped" width="100%">
        <thead>
            <tr>
                <th width="1%">Preview</th>
                <th width="15%">Info</th>
                <th width="25%">Tags</th>
                <th width="25%">Illust urls</th>
                <th width="15%">Created</th>
            </tr>
        </thead>
        <tbody>
            {% for illust in page.items %}
                <tr id="illust-{{ illust.id }}">
                    <td>
                        <div class="preview-header">{{ illust.show_link }} {{ helpers.illust.post_search_link(illust) }}</div>
                        {% if illust.posts | length > 1 %}
                            {{ multi_post_preview(illust, 'illust', True) }}
                        {% elif illust.posts | length == 1 %}
                            {{ post_preview(illust.posts[0], True) }}
                        {% else %}
                            {{ illust_urls_preview(illust.urls) }}
                        {% endif %}
                    </td>
                    <td>
                        <span><strong>{{ illust.artist_show_link }}</strong></span>
                        <br>
                        <br>
                        <span><strong>Domain:</strong> {{ illust.site_domain }}</span>
                        <br>
                        <span><strong>Site ID:</strong> {{ illust.site_illust_id }}</span>
                    </td>
                    <td>
                        <div class="simple-tags-container">{{ simple_tag_list(illust._tags, 'illust') }}</div>
                    </td>
                    <td>
                        {% for illust_url in illust.urls %}
                            {% if loop.index is eq 8 %}
                                ......
                                <br>
                            {% elif loop.index is lt 8 %}
                                {{ helpers.base.url_link(illust_url.full_url, max_len=60) }}
                                <br>
                            {% endif %}
                            {% if loop.last %}
                                <br>
                                <strong>{{ helpers.illust.illust_url_search_link(illust, "«search»") }}</strong>
                            {% endif %}
                        {% else %}
                            <em>none</em>
                        {% endfor %}
                    </td>
                    <td>{{ helpers.base.humanized_timestamp_difference(illust) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block pages %}
    {{ page_navigation(page) }}
{% endblock pages %}

{% block pagescript %}
    Prebooru.initializeLazyLoad('.illust-preview, .post, .illust-preview-url');
{% endblock pagescript %}
