{% extends 'illusts/_base.html' %}
{% from 'layouts/_macros.html' import render_form %}

{% block title %}New Illust{% endblock %}

{% block content %}
    <div id="illust-form-heading" class="heading">
        New illust
    </div>
    {% if artist is not none %}
        <div id="illust-form-info">
            For {{ artist.show_link }}:
        </div>
    {% endif %}
    {% call(field_name, field_input) render_form(form, 'POST', illust.create_url, class=helpers.illust.FormClass(form)) %}
        {% if field_name == 'site_id' and artist is none %}
            {{ field_input(onclick="ChangeSite()") }}
        {% else %}
            {% set classlist = [] %}
            {% if field_name in ['retweets', 'replies', 'quotes'] %}
                {% do classlist.append('twitter-data') %}
            {% endif %}
            {% if field_name in ['title', 'bookmarks', 'site_updated', 'site_uploaded', 'replies', 'views'] %}
                {% do classlist.append('pixiv-data') %}
            {% endif %}
            {{ field_input(classlist=classlist) }}
        {% endif %}
    {% endcall%}
{% endblock %}

{% block pagescript %}
    <script>
        const SITE_MAP = {
            "": "",
            "1": 'pixiv-data',
            "3": 'twitter-data',
        };
        function ChangeSite() {
            let site_id = document.getElementById("illust-site-id").value;
            document.getElementById('form').className = SITE_MAP[site_id];
        }
    </script>
{% endblock %}
