{% macro notation_block(notation) -%}
    <div class="notation-block-header">
        <strong>{{ notation.show_link }}</strong>
        (
        {{ helpers.base.general_link('edit', notation.edit_url + '?redirect=true') }}
        |
        {{ helpers.base.delete_link('delete', notation.delete_url + '?redirect=true') }}
        )
    </div>
    <div class="notation-block">
        {{ helpers.base.convert_to_html(notation.body) }}
        <br>
        <br>
        <span class="muted-timestamp small-2">{{ helpers.base.format_timestamp_difference(notation) }}</span>
    </div>
{%- endmacro %}

{% macro notations_list(notations) -%}
    <ul>
        {% for notation in notations %}
            <li>
                <span class="notation-list-item thin-list">{{ helpers.base.convert_to_html(notation.body) }}</span>
            </li>
        {% endfor %}
    </ul>
{%- endmacro %}

{% macro notations_section(notations, section_id, key, id) -%}
        <section id="{{ section_id }}">
            <div class="heading medium-2">
                Notations [&thinsp;<span class="notation-add">{{ helpers.notation.add_notation_link(key, id) }}</span>&thinsp;]
            </div>
            {% if notations | length > 0 %}
                <div class="artist-notations-container">
                    <ul>
                        {% for notation in notations %}<li>{{ notation_block(notation) }}</li>{% endfor %}
                    </ul>
                </div>
            {% endif %}
        </section>
{%- endmacro %}
