{% macro notation_block(notation) -%}
    <strong>{{ notation.show_link }}</strong>
    <div class="notation-block">
        {{ helpers.base.convert_to_html(notation.body) }}
        <br>
        <br>
        <span class="muted-timestamp small-2">{{ helpers.base.format_timestamp_difference(notation) }}</span>
    </div>
{%- endmacro %}

{% macro notations_list(notations) -%}
    <ul>
        {% for notation in notations %}
            <li>
                <span class="notation-list-item thin-list">{{ helpers.base.convert_to_html(notation.body) }}</span>
            </li>
        {% endfor %}
    </ul>
{%- endmacro %}

{% macro notations_section(notations, section_id) -%}
    {% if notations | length > 0 %}
        <section id="{{ section_id }}">
            <h4>Notations</h4>
            <div class="artist-notations-container">
                <ul>
                    {% for notation in notations %}<li>{{ notation_block(notation) }}</li>{% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{%- endmacro %}
