{% from "layouts/_macros.html" import timestamps_section %}
{% from "pools/_macros.html" import pools_section %}
{% from "boorus/_macros.html" import boorus_section %}
{% from "artists/_macros.html" import artists_section %}
{% from "illusts/_macros.html" import illusts_section %}

<aside id="notation-sidebar">
    {% if notation.append_item is not none %}
        {% if notation.append_type == 'pool_notation' %}
            {{ pools_section(notation.append_item, 'notation-pool') }}
        {% elif notation.append_type == 'booru' %}
            {{ boorus_section(notation.append_item, 'booru-artist') }}
        {% elif notation.append_type == 'artist' %}
            {{ artists_section(notation.append_item, 'notation-artist') }}
        {% elif notation.append_type == 'illust' %}
            {{ illusts_section(notation.append_item, 'notation-illust') }}
        {% else %}
            <section id="notation-{{ notation.append_type }}">
                <h4>{{ notation.append_type | title }}</h4>
                <ul>
                    <li>{{ notation.append_item.show_link }}</li>
                </ul>
            </section>
        {% endif %}
    {% endif %}
    {{ timestamps_section(notation, 'notation-timestamps') }}
</aside>
