{% extends "notations/_base.html" %}
{% from "layouts/_macros.html" import page_navigation %}

{% block title %}
    Notations
{% endblock title %}

{% block content %}
    <table id="notations-table" class="striped" width="100%">
        <thead>
            <tr>
                <th width="10%">ID</th>
                <th>Excerpt</th>
                <th width="10%">Created</th>
                <th width="10%">Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for notation in notations.items %}
                <tr id="notation-{{ notation.id }}">
                    <td>{{ notation.show_link }}</td>
                    <td>{{ helpers.notation.body_excerpt(notation) }}</td>
                    <td>{{ helpers.base.format_timestamp(notation.created) }}</td>
                    <td>{{ helpers.base.format_timestamp(notation.updated) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block pages %}
    {{ page_navigation(notations)}}
{% endblock pages %}
