{% extends 'notations/_base.html' %}
{% from 'layouts/_macros.html' import render_form %}

{% block title %}New Notation{% endblock %}

{% block content %}
    <div id="notation-form-heading" class="heading">
        New notation
    </div>
    {% if item is not none %}
        <div id="notation-form-info">
            For {{ item.show_link }}:
        </div>
    {% endif %}
    {% call(field_name, field_input) render_form(form, 'POST', notation.create_url) %}
        {{ field_input() }}
    {% endcall %}
{% endblock %}
