{% from "posts/_macros.html" import post_preview %}
{% from "errors/_macros.html" import error_list %}

{% macro subscription_element_section(element, section_id) %}
    {% if element is not none %}
        <section id="{{ section_id }}">
            <h4>Subscription</h4>
            {{ subscription_element_display(element) }}
        </section>
    {% endif %}
{%- endmacro %}

{% macro elements_display(element_search_url, element_count, section_id) -%}
    <div id="{{ section_id }}">
        <span class="heading">Elements</span> (&thinsp;{{ element_count }}&thinsp;) {{ helpers.base.general_link('»', element_search_url) }}
    </div>
{%- endmacro %}

{% macro subscription_element_display(element) -%}
    {% set element_post = 'post' if element.post is not none else 'no-post' %}
    {% set element_keep = element.keep or 'undecided' %}
    <article id="subscription-element-{{ element.id }}"
             class="subscription-element subscription-{{ element.illust_url.type }} subscription-{{ element_post }} subscription-{{ element_keep }}">
        <div class="subscription-element-archive">{{ helpers.subscription_pool.keep_element_link(element, 'archive', False) }}</div>
        {{ subscription_pool_element_info(element, False, False) }}
    </article>
{%- endmacro %}

{% macro subscription_element_preview(element, lazyload) -%}
    {% set element_post = 'post' if element.post is not none else 'no-post' %}
    {% set element_keep = element.keep or 'undecided' %}
    <article id="subscription-element-{{ element.id }}"
             class="subscription-element subscription-{{ element.illust_url.type }} subscription-{{ element_post }} subscription-{{ element_keep }}">
        {% if element.post is not none %}
            <div class="subscription-element-display">
                <div class="input">
                    <label for="subscription-element-{{ element.id }}-checkbox">
                        <input type="checkbox"
                               class="similar-post-input"
                               id="subscription-element-{{ element.id }}-checkbox"
                               name="subscription_pool_element[id][]"
                               value="{{ element.id }}"
                               onchange="return SubscriptionPools.toggleCheckbox(this)"
                               onclick="return Prebooru.selectClick(this)">
                    </label>
                </div>
                <div class="subscription-element-archive">{{ helpers.subscription_pool.keep_element_link(element, 'archive', True) }}</div>
                <div class="element-illust-type">{{ element.illust_url.type | title }}</div>
            </div>
            {{ post_preview(element.post, lazyload) }}
            {{ subscription_pool_element_info(element, True, True) }}
        {% else %}
            <div class="subscription-element-display">
                <div class="heading">
                    <h3>{{ element.status | title }} post</h3>
                </div>
                <div class="element-illust-type">{{ element.illust_url.type | title }}</div>
            </div>
            <div class="preview">{{ helpers.subscription_pool.element_preview_link(element, lazyload) }}</div>
            <div class="subscription-element-info">
                <ul>
                    <li>
                        <strong>{{ element.pool_show_link }} {{ helpers.subscription_pool.element_search_link(element) }}</strong>
                    </li>
                    <li>
                        <strong>{{ element.illust_url.illust_show_link }}</strong>
                    </li>
                    <li>
                        <strong>{{ helpers.base.url_link(element.illust_url.full_url) }}</strong>
                    </li>
                    <li class="narrow">
                        <strong>MD5:</strong> <code>{{ helpers.base.val_or_none(element.md5) }}</code>
                    </li>
                    {% if element.archive_match is not none %}
                        <li>
                            <strong>[ {{ helpers.subscription_pool.nopost_function_link('reinstantiate', element) }} ]</strong>
                        </li>
                    {% elif element.status == 'unlinked' and element.post_match is not none %}
                        <li>
                            <strong>[ {{ helpers.subscription_pool.nopost_function_link('relink', element) }} ]</strong>
                        </li>
                    {% elif element.post_match is none %}
                        <li>
                            <strong>[ {{ helpers.subscription_pool.nopost_function_link('redownload', element) }} ]</strong>
                        </li>
                    {% endif %}
                </ul>
                {{ error_list(element.errors) }}
            </div>
        {% endif %}
    </article>
{%- endmacro %}

{% macro subscription_pool_element_info(element, show_illust, has_preview) -%}
    {% set info_class = element.keep + '-info' if element.keep is not none else 'undecided-info' %}
    <div class="subscription-element-info {{ info_class }}">
        <ul>
            <li>
                <strong>{{ element.pool_show_link }}&ensp;{{ helpers.subscription_pool.element_search_link(element) }}</strong>
            </li>
            {% if show_illust %}
                <li>
                    <strong>{{ element.illust_url.illust_show_link }}</strong>
                </li>
            {% endif %}
            <li>
                <strong>Expires:</strong>&ensp;
                <span class="subscription-element-expires">{{ helpers.base.format_expires(element.expires) }}</span>
            </li>
            <li>
                <strong>
                    Keep:
                    <!-- djlint:off T001 -->
                    {{ helpers.subscription_pool.keep_element_link(element, 'yes', has_preview) -}} |
                    {{- helpers.subscription_pool.keep_element_link(element, 'maybe', has_preview) -}} |
                    {{- helpers.subscription_pool.keep_element_link(element, 'no', has_preview) }}
                    <!-- djlint:on -->
                </strong>
            </li>
        </ul>
    </div>
{%- endmacro %}
