{% extends "subscription_elements/_base.html" %}
{% from "layouts/_macros.html" import image_select_controls, page_navigation %}
{% from "subscription_elements/_macros.html" import subscription_element_preview %}

{% block title %}
    Subscription Elements
{% endblock title %}

{% block content %}
    <div id="subscription-page-controls">
        <div id="subscription-type-selector">
            {{ helpers.subscription.element_type_link('all') }}
            {{ helpers.subscription.element_type_link('yes') }}
            {{ helpers.subscription.element_type_link('no') }}
            {{ helpers.subscription.element_type_link('maybe') }}
            {{ helpers.subscription.element_type_link('archive') }}
            {{ helpers.subscription.element_type_link('undecided') }}
        </div>
        <div id="subscription-controls">
            {% call image_select_controls('subscription-post-input') %}
                &emsp;&emsp;&emsp;
                <strong>
                    [
                    <a class="archive-link" href="#" onclick="return Subscriptions.submitForm('archive')">ARCHIVE</a>
                    ]
                </strong>
                &emsp;
                <strong>
                    KEEP[
                    <a class="yes-link" href="#" onclick="return Subscriptions.submitForm('yes')">YES</a>
                    |
                    <a class="maybe-link" href="#" onclick="return Subscriptions.submitForm('maybe')">MAYBE</a>
                    |
                    <a class="no-link" href="#" onclick="return Subscriptions.submitForm('no')">NO</a>
                    ]
                </strong>
            {% endcall %}
        </div>
    </div>
    <form id="form" method="post" action="{{ url_for('subscription_element.batch_keep_html') }}">
        <input type="hidden" id="subscription-element-keep" name="subscription_element[keep]" value="">
        <div id="subscription-elements-container">
            {% for element in subscription_elements.items %}{{ subscription_element_preview(element, True) }}{% endfor %}
        </div>
    </form>
{% endblock content %}

{% block pages %}
    {{ page_navigation(subscription_elements) }}
{% endblock pages %}

{% block pagescript %}
    Subscriptions.initializeEventCallbacks();
    Subscriptions.setAllInputsTimeout();
    Prebooru.initializeLazyLoad('.subscription-element');
    Prebooru.initializeVideoPreviews('.video-post');
{% endblock pagescript %}
