{% from "boorus/_macros.html" import boorus_section %}
{% from "artists/_macros.html" import artists_section %}
{% from "illusts/_macros.html" import illusts_display %}
{% from "notations/_macros.html" import notations_section %}
{% from "errors/_macros.html" import errors_section %}
{% from "layouts/_macros.html" import timestamps_section %}

<div id="subscription-sidebar">
    {{ boorus_section(subscription.artist.boorus, 'subscription-boorus') }}
    {{ artists_section(subscription.artist, 'subscription-artist') }}
    {{ illusts_display(helpers.subscription.illust_search(subscription), subscription.illust_count, 'subscription-illusts', False) }}
    {{ notations_section(subscription.notations, 'subscription-notations', 'subscription_id', subscription.id) }}
    {{ errors_section(subscription.errors, 'subscription-errors') }}
    {{ timestamps_section(subscription, 'subscription-timestamps') }}
    <section id="subscription-options">
        <h4>Options</h4>
        <ul>
            <li>{{ helpers.subscription.delay_subscription_link(subscription) }}</li>
        </ul>
    </section>
</div>
