<div id="subscription-site-content">
    <div id="subscription-site-content-1">
        <section id="subscription-status">
            <h4>Info</h4>
            <ul>
                <li>
                    <strong>Status:</strong> {{ helpers.subscription.status_link(subscription) }}
                </li>
                <li>
                    <strong>Last Illust ID:</strong> {{ helpers.base.val_or_none(subscription.last_id) }}
                </li>
                <li>
                    <strong>Checked:</strong> {{ helpers.base.format_timestamp(subscription.checked) }}
                </li>
                <li>
                    <strong>Total storage:</strong> {{ helpers.subscription.storage_bytes(subscription) }}
                    <ul>
                        <li>
                            <strong>Main:</strong> {{ helpers.subscription.storage_bytes(subscription, 'main') }}
                        </li>
                        <li>
                            <strong>Alternate:</strong> {{ helpers.subscription.storage_bytes(subscription, 'alternate') }}
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section id="subscription-settings">
            <h4>Settings</h4>
            <ul>
                <li>
                    <strong>Expiration:</strong>
                    {% if subscription.expiration is not none %}
                        {{ subscription.expiration }} days
                    {% else %}
                        <em>none</em>
                    {% endif %}
                </li>
                <li>
                    <strong>Interval:</strong> {{ subscription.interval }} hours
                </li>
            </ul>
        </section>
        <section id="subscription-element-keep">
            <h4>Element Keep</h4>
            <ul>
                <li>
                    <strong>Undecided:</strong> {{ subscription.undecided_count }} {{ helpers.subscription.element_keep_link(subscription, None) }}
                </li>
                <li>
                    <strong>Yes:</strong> {{ subscription.yes_count }} {{ helpers.subscription.element_keep_link(subscription, 'yes') }}
                </li>
                <li>
                    <strong>No:</strong> {{ subscription.no_count }} {{ helpers.subscription.element_keep_link(subscription, 'no') }}
                </li>
                <li>
                    <strong>Maybe:</strong> {{ subscription.maybe_count }} {{ helpers.subscription.element_keep_link(subscription, 'maybe') }}
                </li>
                <li>
                    <strong>Archive:</strong> {{ subscription.archive_count }} {{ helpers.subscription.element_keep_link(subscription, 'archive') }}
                </li>
            </ul>
        </section>
        <section id="subscription-element-status">
            <h4>Element Status</h4>
            <ul>
                <li>
                    <strong>Active:</strong> {{ subscription.active_count }} {{ helpers.subscription.element_status_link(subscription, 'active') }}
                </li>
                <li>
                    <strong>Duplicate:</strong> {{ subscription.duplicate_count }} {{ helpers.subscription.element_status_link(subscription, 'duplicate') }}
                </li>
                <li>
                    <strong>Unlinked:</strong> {{ subscription.unlinked_count }} {{ helpers.subscription.element_status_link(subscription, 'unlinked') }}
                </li>
                <li>
                    <strong>Deleted:</strong> {{ subscription.deleted_count }} {{ helpers.subscription.element_status_link(subscription, 'deleted') }}
                </li>
                <li>
                    <strong>Archived:</strong> {{ subscription.archived_count }} {{ helpers.subscription.element_status_link(subscription, 'error') }}
                </li>
                <li>
                    <strong>Error:</strong> {{ subscription.error_count }} {{ helpers.subscription.element_status_link(subscription, 'error') }}
                </li>
            </ul>
        </section>
    </div>
    <div id="subscription-site-content-2">
        <section id="subscription-intervals">
            <h4>Average intervals</h4>
            <ul>
                <li>
                    <strong>Last illust:</strong> {{ helpers.subscription.last_illust_created(subscription) }}
                </li>
                <li>
                    <strong>Last keep:</strong> {{ helpers.subscription.last_keep_created(subscription) }}
                </li>
                <li>
                    <strong>Last week:</strong> {{ helpers.subscription.average_interval(subscription, 7) }}
                </li>
                <li>
                    <strong>Last month:</strong> {{ helpers.subscription.average_interval(subscription, 30) }}
                </li>
                <li>
                    <strong>Last quarter:</strong> {{ helpers.subscription.average_interval(subscription, 91) }}
                </li>
                <li>
                    <strong>Last year:</strong> {{ helpers.subscription.average_interval(subscription, 365) }}
                </li>
            </ul>
        </section>
        {% if job_status is not none %}
            <section id="subscription-job">
                <h4>Job Status</h4>
                <ul>
                    <li>
                        <strong>Stage:</strong> <span id="subscription-job-stage">{{ helpers.base.val_or_none(job_status['stage']) }}</span>
                    </li>
                    <li>
                        <strong>Range:</strong> <span id="subscription-job-range">{{ helpers.base.val_or_none(job_status['range']) }}</span>
                    </li>
                    <li>
                        <strong>Records:</strong> <span id="subscription-job-records">{{ job_status['records'] }}</span>
                    </li>
                    <li>
                        <strong>Illust:</strong> <span id="subscription-job-illusts">{{ job_status['illusts'] }}</span>
                    </li>
                    <li>
                        <strong>Elements:</strong> <span id="subscription-job-elements">{{ job_status['elements'] }}</span>
                    </li>
                    <li>
                        <strong>Downloads:</strong> <span id="subscription-job-downloads">{{ job_status['downloads'] }}</span>
                    </li>
                </ul>
            </section>
        {% endif %}
    </div>
</div>
