{% extends "subscriptions/_base.html" %}
{% from "layouts/_macros.html" import page_navigation %}

{% block title %}
    Subscriptions
{% endblock title %}

{% block content %}
    <table id="subscriptions-table" class="striped" width="85%">
        <thead>
            <tr>
                <th width="12%">ID</th>
                <th width="22%">Artist</th>
                <th>Info</th>
                <th width="15%">Settings</th>
                <th width="20%">Processed</th>
                <th width="15%">Created</th>
            </tr>
        </thead>
        <tbody>
            {% for subscription in page.items %}
                <tr id="subscription-{{ subscription.id }}">
                    <td>{{ subscription.show_link }}</td>
                    <td>
                        <strong>{{ subscription.artist.show_link }}</strong>
                        <br>
                        <strong>Account:</strong> {{ subscription.artist.site_account_value }}
                        <br>
                        <strong>Domain:</strong> {{ subscription.artist.site_domain }}
                    </td>
                    <td>
                        <strong>Status:</strong> {{ subscription.status.name }}
                        {% if average_intervals is not none %}
                            <br>
                            <strong>Average Interval:</strong> {{ helpers.subscription.average_interval_lookup(subscription, average_intervals) }}
                        {% endif %}
                    </td>
                    <td>
                        <strong>Expiration:</strong> {{ subscription.expiration }}
                        <br>
                        <strong>Interval:</strong> {{ subscription.interval }}
                    </td>
                    <td>
                        <strong>Requery:</strong> {{ helpers.base.format_expires(subscription.requery) }}
                        <br>
                        <strong>Checked:</strong> {{ helpers.base.format_time_ago(subscription.checked) }}
                    </td>
                    <td>{{ helpers.base.humanized_timestamp_difference(subscription) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block pages %}
    {{ page_navigation(page) }}
{% endblock pages %}
