{% extends "subscription_pools/_base.html" %}
{% from "layouts/_macros.html" import page_navigation %}

{% block title %}
    Subscription pools
{% endblock title %}

{% block content %}
    <table id="subscription-pools-table" class="striped" width="75%">
        <thead>
            <tr>
                <th width="15%">ID</th>
                <th width="10%">Artist</th>
                <th>Info</th>
                <th width="15%">Settings</th>
                <th width="5%">Active</th>
                <th width="15%">Requery</th>
                <th width="15%">Created</th>
            </tr>
        </thead>
        <tbody>
            {% for pool in subscription_pools.items %}
                <tr id="pool-{{ pool.id }}">
                    <td>{{ pool.show_link }}</td>
                    <td>{{ pool.artist_show_link }}</td>
                    <td>
                        <strong>Status:</strong> {{ pool.status }}
                        <br>
                        <strong>Checked:</strong> {{ helpers.base.format_time_ago(pool.checked) }}
                    </td>
                    <td>
                        <strong>Interval:</strong> {{ pool.interval }}
                        <br>
                        <strong>Expiration:</strong> {{ pool.expiration }}
                    </td>
                    <td>{{ pool.active | tojson }}</td>
                    <td>{{ helpers.base.format_expires(pool.requery) }}</td>
                    <td>{{ helpers.base.humanized_timestamp_difference(pool) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block pages %}
    {{ page_navigation(subscription_pools) }}
{% endblock pages %}
