{% extends "subscriptions/_base.html" %}
{% from "layouts/_macros.html" import page_navigation %}

{% block title %}
    Subscriptions
{% endblock title %}

{% block content %}
    <table id="subscriptions-table" class="striped" width="75%">
        <thead>
            <tr>
                <th width="15%">ID</th>
                <th width="10%">Artist</th>
                <th>Info</th>
                <th width="15%">Settings</th>
                <th width="5%">Active</th>
                <th width="15%">Requery</th>
                <th width="15%">Created</th>
            </tr>
        </thead>
        <tbody>
            {% for subscription in subscriptions.items %}
                <tr id="subscription-{{ subscription.id }}">
                    <td>{{ subscription.show_link }}</td>
                    <td>{{ subscription.artist_show_link }}</td>
                    <td>
                        <strong>Status:</strong> {{ subscription.status.name }}
                        <br>
                        <strong>Checked:</strong> {{ helpers.base.format_time_ago(subscription.checked) }}
                    </td>
                    <td>
                        <strong>Interval:</strong> {{ subscription.interval }}
                        <br>
                        <strong>Expiration:</strong> {{ subscription.expiration }}
                    </td>
                    <td>{{ subscription.active | tojson }}</td>
                    <td>{{ helpers.base.format_expires(subscription.requery) }}</td>
                    <td>{{ helpers.base.humanized_timestamp_difference(subscription) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block pages %}
    {{ page_navigation(subscriptions) }}
{% endblock pages %}
