{% extends "subscriptions/_base.html" %}
{% from "subscription_elements/_macros.html" import elements_display %}
{% from "illusts/_macros.html" import illusts_display %}
{% from "posts/_macros.html" import recent_posts %}

{% block title %}
    {{ subscription.header }}
{% endblock title %}

{% block content %}
    <div id="subscription-heading" class="heading">{{ subscription.header }}</div>
    <div id="subscription-content">
        {% include "subscriptions/_sidebar.html" %}
        {% include "subscriptions/_site_content.html" %}
    </div>
    {{ elements_display(helpers.subscription.element_search(subscription), subscription.element_count, 'subscription-elements') }}
    {{ illusts_display(helpers.subscription.illust_search(subscription), subscription.illust_count, 'subscription-illusts', False) }}
    <div id="subscription-posts">{{ recent_posts(subscription.recent_posts, subscription.post_count, helpers.subscription.post_search(subscription)) }}</div>
{% endblock content %}

{% block pagescript %}
    (function () {
    const subscription_status = "{{ subscription.status.name }}";
    const job_status = "{{ job_status['stage'] if job_status is not none else 'done' }}";
    const query_url = "{{ url_for('subscription.show_status_json', id=subscription.id, job=job_id) }}";
    Subscriptions.initializeReloadInterval(subscription_status);
    Subscriptions.initializeJobQueryInterval(job_status, query_url);
    })();
{% endblock pagescript %}
