{% macro tags_section(tags, section_id, item_type, item_id) -%}
    {% if tags | length > 0 %}
        <section id="{{ section_id }}">
            <h4>User tags</h4>
            <div class="tags-container">{{ tag_list(tags, item_type=item_type, item_id=item_id) }}</div>
        </section>
    {% endif %}
{%- endmacro %}

{% macro tag_list(tags, force=False, item_type=None, item_id=None) -%}
    {% for tag in tags %}
        {% if loop.first %}<ul>{% endif %}
        <li>
            {{ tag.name_link }}&ensp;
            {{ helpers.tag.post_search_link(tag, item_type) }}&ensp;
            {% if (tag.type == 'user_tag') and (item_type is not none) and (item_id is not none) %}
                <span class="delete-control small-2">( {{ helpers.tag.remove_tag_link(tag, item_type, item_id) }} )</span>
            {% endif %}
        </li>
        {% if loop.last %}</ul>{% endif %}
    {% else %}
        {% if force %}
            <li>
                <em>none</em>
            </li>
        {% else %}
            <em>none</em>
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro simple_tag_list(tags, item_type) -%}
    {% for tag in tags %}
        {{ tag.name_link }}&emsp;{{ helpers.tag.post_search_link(tag, item_type) }}
        {% if not loop.last %}<br>{% endif %}
    {% else %}
        <em>none</em>
    {% endfor %}
{%- endmacro %}
