{% macro tag_list(tags) -%}
    <ul>
        {% for tag in tags %}
            <li>{{ helpers.base.GeneralLink(tag.name, tag.show_url) }}&emsp;<a href="{{ helpers.tag.PostSearch(tag) }}">&raquo;</a></li>
        {% else %}
            <li><em>none</em></li>
        {% endfor %}
    </ul>
{%- endmacro %}

{% macro simple_tag_list(tags) -%}
        {% for tag in tags %}
            {{ helpers.base.GeneralLink(tag.name, tag.show_url) }}&emsp;<a href="{{ helpers.tag.PostSearch(tag) }}">&raquo;</a>
            {% if not loop.last %}
                <br>
            {% endif %}
        {% else %}
            <em>none</em>
        {% endfor %}
{%- endmacro %}
