{% macro tag_list(tags, force=False) -%}
    {% for tag in tags %}
        {% if loop.first %}
            <ul>
        {% endif %}
        <li>{{ tag.name_link }}&emsp;{{ helpers.tag.post_search_link(tag) }}</li>
        {% if loop.last %}
            </ul>
        {% endif %}
    {% else %}
        {% if force %}
            <li><em>none</em></li>
        {% else %}
            <em>none</em>
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro simple_tag_list(tags) -%}
        {% for tag in tags %}
            {{ tag.name_link }}&emsp;{{ helpers.tag.post_search_link(tag) }}
            {% if not loop.last %}
                <br>
            {% endif %}
        {% else %}
            <em>none</em>
        {% endfor %}
{%- endmacro %}
