{% extends 'archive_data/_base.html' %}
{% from 'layouts/_macros.html' import page_navigation %}

{% block title %}Archive Data{% endblock %}

{% block content %}
    <table id="archive-data-table" class="striped" width="100%">
        <thead>
            <tr>
                <th width="10%">ID</th>
                <th width="20%">Info</th>
                <th width="60%">Data</th>
                <th width="15%">Expires</th>
                <th width="5">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for archive_datum in archive_data.items %}
                <tr id="archive-data-{{ archive_datum.id }}">
                    <td>{{ archive_datum.show_link }}</td>
                    <td>
                        <strong>Type:</strong> {{ archive_datum.type | title }}<br>
                        <strong>Data key:</strong> {{ archive_datum.data_key}}
                    </td>
                    <td><div class="json-data">{{ archive_datum.data | tojson(indent=4) }}</div></td>
                    <td>{{ helpers.base.format_timestamp(archive_datum.expires) }}</td>
                    <td>
                        {{ helpers.archive_data.reinstantiate_item_link(archive_datum) }}
                        {% if helpers.archive_data.has_relink(archive_datum) %}
                            <br>{{ helpers.archive_data.relink_item_link(archive_datum) }}
                        {% endif %}
                        <br>
                        {% if archive_datum.expires is none %}
                            {{ helpers.archive_data.set_temporary_link(archive_datum) }}
                        {% else %}
                            {{ helpers.archive_data.set_permenant_link(archive_datum) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pages %}{{ page_navigation(archive_data) }}{% endblock %}
