{% from "layouts/_macros.html" import items_list %}

<div id="upload-site-content">
    <section id="upload-info">
        <h4>Info</h4>
        <ul>
            <li>
                <strong>Status:</strong>
                {% if upload.status_name == 'pending' %}
                    {{ helpers.upload.check_pending_link(upload) }}
                {% elif upload.status_name == 'error' %}
                    {{ helpers.upload.resubmit_link(upload) }}
                {% else %}
                    {{ upload.status_name }}
                {% endif %}
            </li>
            <li><strong>MD5:</strong>{{ upload.md5 }}</li>
        </ul>
    </section>
    <section id="upload-sources">
        <h4>Sources</h4>
        <ul>
            {% if upload.illust_url_id is not none %}
                <li><strong>{{ upload.illust_url_show_link }}</strong></li>
            {% endif %}
            <li>
                <strong>Media filepath:</strong> {{ helpers.base.file_link(upload.media_filepath) }}
            </li>
            <li>
                <strong>Sample filepath:</strong> {{ helpers.base.file_link(upload.sample_filepath) }}
            </li>
        </ul>
    </section>
</div>
