{% from 'layouts/_macros.html' import items_list %}

<div id="upload-site-content">
    <section id="upload-info">
        <h4>Info</h4>
        <ul>
            <li><strong>Status:</strong>
                {% if upload.status == 'pending' %}
                    {{ helpers.upload.CheckPendingLink() }}
                {% else %}
                    {{ upload.status }}
                {% endif %}
            </li>
            <li><strong>Type:</strong> {{ upload.type }}</li>
            <li><strong>Successes:</strong> {{ upload.successes }}</li>
            <li><strong>Failures:</strong> {{ upload.failures }}</li>
            <li><strong>Uploaded:</strong> {{ helpers.base.FormatTimestamp(upload.created) }}</li>
        </ul>
    </section>
    <section id="upload-sources">
        <h4>Sources</h4>
        <ul>
            <li><strong>Media filepath:</strong> {{ helpers.base.StrOrNone(upload.media_filepath) }}</li>
            <li><strong>Sample filepath:</strong> {{ helpers.base.StrOrNone(upload.sample_filepath) }}</li>
            <li><strong>Request:</strong> {{ helpers.base.StrOrNone(upload.request_url) }}</li>
            <li><strong>Image urls:</strong> {{ items_list(upload.image_urls, 'url') }}</li>
        </ul>
    </section>
</div>
