{% from "layouts/_macros.html" import items_list %}

<div id="upload-site-content">
    <section id="upload-info">
        <h4>Info</h4>
        <ul>
            <li>
                <strong>Status:</strong>
                {% if upload.status.name == 'pending' %}
                    {{ helpers.upload.check_pending_link(upload) }}
                {% elif upload.status.name == 'error' %}
                    {{ helpers.upload.resubmit_link(upload) }}
                {% else %}
                    {{ upload.status.name }}
                {% endif %}
            </li>
            <li><strong>Elements:</strong>
                <ul>
                    <li>
                        <strong>Complete:</strong> {{ upload.complete_count }}
                    </li>
                    <li>
                        <strong>Error:</strong> {{ upload.error_count }}
                    </li>
                    <li>
                        <strong>Other:</strong> {{ upload.other_count }}
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <section id="upload-sources">
        <h4>Sources</h4>
        <ul>
            <li>
                <strong>Media filepath:</strong> {{ helpers.base.file_link(upload.media_filepath) }}
            </li>
            <li>
                <strong>Sample filepath:</strong> {{ helpers.base.file_link(upload.sample_filepath) }}
            </li>
            <li>
                <strong>Request url:</strong> {{ helpers.base.url_link(upload.request_url) }}
            </li>
            <li>
                <strong>Image urls:</strong> {{ items_list(upload.image_urls, 'url') }}
            </li>
        </ul>
    </section>
</div>
