{% extends 'uploads/_base.html' %}
{% from 'layouts/_macros.html' import page_navigation %}
{% from 'posts/_macros.html' import multi_post_preview %}

{% block title %}Upload # {{ upload.id }}{% endblock %}

{% block content %}
    <table id="uploads-table" class="striped" width="100%">
        <thead>
            <tr>
                <th width="1%">Preview</th>
                <th>Info</th>
                <th>Urls</th>
                <th>Errors</th>
                <th>Status</th>
                <th>Uploaded</th>
            </tr>
        </thead>
        <tbody>
            {% for upload in uploads.items %}
                {% set outer_loop = loop %}
                <tr id="upload-{{ upload.id }}">
                    <td>{{ multi_post_preview(upload, 'upload') }}</td>
                    <td>
                        <span><strong>{{ upload.show_link }} {{ helpers.base.GeneralLink('&raquo;', helpers.upload.PostSearch(upload)) }}</strong></span><br>
                        <span><strong>Type:</strong> {{ upload.type }}</span><br>
                        <span><strong>Successes:</strong> {{ upload.successes }}</span><br>
                        <span><strong>Failures:</strong> {{ upload.failures }}</span>
                    </td>
                    <td>
                        <span><strong>Request:</strong> {{ helpers.base.UrlLink(upload.request_url) }}</span><br>
                        <span><strong>Image urls:</strong></span>
                        {% for image_url in upload.image_urls%}
                            <br>&emsp;{{ helpers.base.UrlLink(image_url.url) }}
                        {% else %}
                            <em>none</em>
                        {% endfor %}
                    </td>
                    <td>
                        {% for error in upload.errors %}
                            <div>
                                <strong>{{ error.module }}:</strong><br>
                                &emsp;{{ error.message }}<br>
                                &emsp;@ {{ helpers.base.FormatTimestamp(error.created) }}
                            </div>
                        {% else %}
                            <em>none</em>
                        {% endfor %}
                    </td>
                    <td>{{ upload.status }}</td>
                    <td>{{ helpers.base.FormatTimestamp(upload.created) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pages %}{{ page_navigation(uploads) }}{% endblock %}
