{% extends "uploads/_base.html" %}
{% from "layouts/_macros.html" import page_navigation %}
{% from "posts/_macros.html" import post_preview %}
{% from "errors/_macros.html" import errors_block %}

{% block title %}
    Uploads
{% endblock title %}

{% block content %}
    <table id="uploads-table" class="striped" width="100%">
        <thead>
            <tr>
                <th width="1%">Preview</th>
                <th>Info</th>
                <th>Media paths</th>
                <th>Errors</th>
                <th>Status</th>
                <th>Uploaded</th>
            </tr>
        </thead>
        <tbody>
            {% for upload in page.items %}
                {% set outer_loop = loop %}
                <tr id="upload-{{ upload.id }}">
                    <td>{{ post_preview(upload.post) }}</td>
                    <td>
                        <span><strong>{{ upload.show_link }} {{ helpers.upload.post_search_link(upload) }}</strong></span>
                    </td>
                    <td>
                        {% if upload.illust_url_id is not none %}
                            <span><strong> {{ upload.illust_url_show_link }} </strong></span>
                            <br>
                        {% endif %}
                        <span><strong>Media filepath:</strong> {{ upload.media_filepath }}</span>
                        {% if upload.sample_fileapth is not none %}
                            <br>
                            <span><strong>Sample filepath:</strong> {{ upload.sample_filepath }}</span>
                        {% endif %}
                    </td>
                    <td>{{ errors_block(upload.errors) }}</td>
                    <td>{{ upload.status.name }}</td>
                    <td>{{ helpers.base.format_timestamp(upload.created) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block pages %}
    {{ page_navigation(page) }}
{% endblock pages %}
