{% extends 'uploads/_base.html' %}
{% from 'layouts/_macros.html' import render_form %}

{% block title %}New Upload{% endblock %}

{% block content %}
    <div id="upload-form-heading" class="form-heading heading">New upload{{ helpers.upload.FormTitleApellation(illust_url) }}</div>
    {% if illust_url is not none %}
        <div id="upload-url-info">
            <ul>
                <li><strong>URL:</strong> {{ illust_url.full_url }}</li>
                <li><strong>Dimensions:</strong> ( {{ illust_url.width }} x {{ illust_url.height }} )</li>
            </ul>
        </div>
    {% endif %}
    {% call(field_name, field_input) render_form(form, 'POST', upload.create_url) %}
        {{ field_input() }}
    {% endcall %}
{% endblock %}
