{% extends "uploads/_base.html" %}
{% from "layouts/_macros.html" import page_navigation %}
{% from "upload_elements/_macros.html" import upload_elements_section %}

{% block title %}
    {{ upload.header }}
{% endblock title %}

{% block content %}
    <div id="upload-heading" class="heading">{{ upload.header }}</div>
    <div id="upload-content">
        {% include "uploads/_sidebar.html" %}
        {% include "uploads/_site_content.html" %}
    </div>
    <div id="upload-posts">{{ upload_elements_section(elements.items, elements.count, upload) }}</div>
{% endblock content %}

{% block pages %}
    {{ page_navigation(elements) }}
{% endblock pages %}

{% block pagescript %}
    (function () {
    const upload_status = "{{ upload.status.name }}";
    Uploads.initializeReloadInterval(upload_status);
    })();
    Prebooru.initializeLazyLoad('.upload-element-preview');
{% endblock pagescript %}
